<a href="https://colab.research.google.com/github/huricane85/FPL-FB-Ref-tester/blob/main/FB_Ref_tester_25_10_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import scipy
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
home_table = pd.read_csv('/content/FPL-FB-Ref-tester/PL Home.csv', encoding = "ISO-8859-1", engine='python')
away_table = pd.read_csv('/content/FPL-FB-Ref-tester/PL Away.csv', encoding = "ISO-8859-1", engine='python')

In [ ]:
home_table.rename(columns={'ï»¿team': 'team'}, inplace=True)
home_table = home_table.replace('Wolverhampton Wanderers','Wolverhampton')
home_table = home_table.replace('Leeds United', 'Leeds Utd')
home_table = home_table.replace('West Ham', 'West Ham Utd')
#home_table['H Avg GS'] = home_table ['GF'] / home_table ['MP']
#home_table ['H Avg GA'] = home_table ['GA'] / home_table ['MP']
#home_table ['LA GS'] = home_table['H Avg GS'].mean()
#home_table ['LA GA'] = home_table['H Avg GA'].mean()
#home_table ['H AS'] = home_table['H Avg GS']/home_table ['LA GS']
#home_table ['H DS'] = home_table['H Avg GA']/home_table ['LA GA']
home_table

               team  MP  W  D  L  GF  ...  Pts  Pts/G   xG  xGA  xGDiff  xGDiff/90
0           Everton   3  2  1  0  11  ...    7   2.33  6.4  3.7     2.7       0.89
1       Aston Villa   2  2  0  0   8  ...    6   3.00  4.9  2.6     2.3       1.14
2         Liverpool   2  2  0  0   7  ...    6   3.00  6.3  1.8     4.5       2.27
3    Leicester City   3  1  0  2   4  ...    3   1.00  2.3  4.2    -1.8      -0.61
4           Arsenal   2  2  0  0   4  ...    6   3.00  1.7  2.1    -0.4      -0.18
5            Wolves   2  1  0  1   2  ...    3   1.50  2.2  2.7    -0.5      -0.24
6         Tottenham   3  0  2  1   4  ...    2   0.67  4.4  4.5    -0.1      -0.02
7           Chelsea   3  1  1  1   7  ...    4   1.33  5.6  4.9     0.7       0.23
8      West Ham Utd   2  1  0  1   4  ...    3   1.50  2.7  2.0     0.7       0.35
9         Leeds Utd   3  1  1  1   5  ...    4   1.33  4.9  3.8     1.1       0.37
10  Manchester City   2  1  0  1   3  ...    3   1.50  2.4  3.5    -1.1      -0.54
11      Southampton   2  1  0  1   4  ...    3   1.50  2.7  2.6     0.1       0.05
12    Newcastle Utd   3  1  0  2   4  ...    3   1.00  3.1  4.9    -1.8      -0.61
13   Crystal Palace   3  1  1  1   3  ...    4   1.33  1.8  4.3    -2.4      -0.81
14   Manchester Utd   2  0  0  2   2  ...    0   0.00  2.0  5.4    -3.4      -1.69
15         Brighton   2  0  0  2   3  ...    0   0.00  3.8  2.2     1.6       0.81
16        West Brom   3  0  2  1   3  ...    2   0.67  2.4  5.5    -3.1      -1.03
17          Burnley   1  0  0  1   0  ...    0   0.00  0.5  0.6    -0.1      -0.12
18    Sheffield Utd   3  0  1  2   1  ...    1   0.33  3.7  4.6    -0.9      -0.30
19           Fulham   2  0  0  2   0  ...    0   0.00  0.9  3.4    -2.5      -1.27

[20 rows x 14 columns]

In [ ]:
away_table.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
away_table = away_table.replace('Wolverhampton Wanderers','Wolverhampton')
away_table = away_table.replace('Leeds United', 'Leeds Utd')
away_table = away_table.replace('West Ham', 'West Ham Utd')
#away_table['H Avg GS'] = away_table ['GF'] / away_table ['MP']
#away_table ['H Avg GA'] = away_table ['GA'] / away_table ['MP']
#away_table ['LA GS'] = away_table['H Avg GS'].mean()
#away_table ['LA GA'] = away_table['H Avg GA'].mean()
#away_table ['A AS'] = away_table['H Avg GS']/away_table ['LA GS']
#away_table ['A DS'] = away_table['H Avg GA']/away_table ['LA GA']
away_table

               team  MP  W  D  L  GF  ...  Pts  Pts/G   xG  xGA  xGDiff  xGDiff/90
0           Everton   2  2  0  0   3  ...    6   3.00  3.5  1.4     2.1       1.04
1       Aston Villa   2  2  0  0   4  ...    6   3.00  2.3  1.3     1.0       0.51
2         Liverpool   3  1  1  1   6  ...    4   1.33  6.6  6.2     0.3       0.11
3    Leicester City   2  2  0  0   8  ...    6   3.00  4.8  1.4     3.4       1.69
4           Arsenal   3  1  0  2   4  ...    3   1.00  3.9  4.6    -0.7      -0.25
5            Wolves   3  2  0  1   3  ...    6   2.00  2.2  3.8    -1.6      -0.52
6         Tottenham   2  2  0  0  11  ...    6   3.00  6.3  2.5     3.9       1.93
7           Chelsea   2  1  1  0   6  ...    4   2.00  3.4  2.4     1.0       0.49
8      West Ham Utd   3  1  1  1   7  ...    4   1.33  5.6  3.0     2.6       0.87
9         Leeds Utd   2  1  0  1   4  ...    3   1.50  2.1  4.9    -2.8      -1.38
10  Manchester City   2  1  1  0   4  ...    4   2.00  3.4  2.7     0.8       0.39
11      Southampton   3  1  1  1   4  ...    4   1.33  3.6  3.2     0.5       0.15
12    Newcastle Utd   2  1  1  0   3  ...    4   2.00  2.5  3.4    -0.9      -0.47
13   Crystal Palace   2  1  0  1   3  ...    3   1.50  1.7  3.6    -1.9      -0.97
14   Manchester Utd   2  2  0  0   7  ...    6   3.00  3.8  2.9     0.8       0.42
15         Brighton   3  1  1  1   6  ...    4   1.33  4.3  3.1     1.2       0.40
16        West Brom   2  0  0  2   2  ...    0   0.00  0.4  4.6    -4.2      -2.08
17          Burnley   3  0  1  2   3  ...    1   0.33  3.6  4.3    -0.8      -0.26
18    Sheffield Utd   2  0  0  2   1  ...    0   0.00  1.0  1.4    -0.3      -0.17
19           Fulham   3  0  1  2   4  ...    1   0.33  4.4  4.3     0.1       0.02

[20 rows x 14 columns]

In [ ]:
home_table_reduced = home_table[['team', 'H AS', 'H DS']]
away_table_reduced = away_table[['team', 'A AS', 'A DS']]
combined_table = pd.merge(home_table_reduced, away_table_reduced, on='team')
combined_table.sort_values('team')
combined_table

               team      H AS      H DS      A AS      A DS
0           Everton  2.256410  1.025641  0.743802  0.310881
1       Aston Villa  2.461538  0.512821  0.991736  0.000000
2         Liverpool  2.153846  1.025641  0.991736  1.865285
3    Leicester City  0.820513  1.025641  1.983471  0.621762
4           Arsenal  1.230769  0.512821  0.661157  0.829016
5            Wolves  0.615385  0.769231  0.495868  0.829016
6         Tottenham  0.820513  0.854701  2.727273  0.932642
7           Chelsea  1.435897  0.854701  1.487603  1.243523
8      West Ham Utd  1.230769  0.512821  1.157025  1.036269
9         Leeds Utd  1.025641  0.854701  0.991736  1.243523
10  Manchester City  0.923077  1.282051  0.991736  0.621762
11      Southampton  1.230769  1.282051  0.661157  0.829016
12    Newcastle Utd  0.820513  1.367521  0.743802  0.310881
13   Crystal Palace  0.615385  0.512821  0.743802  1.554404
14   Manchester Utd  0.615385  2.307692  1.735537  0.932642
15         Brighton  0.923077  1.538462  0.991736  1.036269
16        West Brom  0.615385  1.025641  0.495868  2.176166
17          Burnley  0.000000  0.512821  0.495868  1.450777
18    Sheffield Utd  0.205128  0.683761  0.247934  0.932642
19           Fulham  0.000000  1.538462  0.661157  1.243523

In [ ]:
home_table1920 = pd.read_csv('/content/FPL-FB-Ref-tester/PL Home 19-20adjusted.csv', encoding = "ISO-8859-1", engine='python')
away_table1920 = pd.read_csv('/content/FPL-FB-Ref-tester/PL Away 19-20adjusted.csv', encoding = "ISO-8859-1", engine='python')

In [ ]:
home_table1920.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
home_table1920 = home_table1920.replace('Wolverhampton Wanderers','Wolverhampton')
home_table1920 = home_table1920.replace('Leeds United', 'Leeds Utd')
home_table1920 = home_table1920.replace('West Ham', 'West Ham Utd')
#home_table1920['H Avg GS'] = home_table1920 ['GF'] / home_table1920 ['MP']
#home_table1920 ['H Avg GA'] = home_table1920 ['GA'] / home_table1920 ['MP']
#home_table1920 ['LA GS'] = home_table1920['H Avg GS'].mean()
#home_table1920 ['LA GA'] = home_table1920['H Avg GA'].mean()
#home_table1920 ['H AS'] = home_table1920['H Avg GS']/home_table1920 ['LA GS']
#home_table1920 ['H DS'] = home_table1920['H Avg GA']/home_table1920 ['LA GA']
home_table1920

               team  MP   W  D   L  ...  Pts/G    xG   xGA  xGDiff  xGDiff/90
0         Liverpool  19  18  1   0  ...   2.89  40.3  18.4    21.9       1.15
1   Manchester City  19  15  2   2  ...   2.47  47.5  15.2    32.3       1.70
2    Manchester Utd  19  10  7   2  ...   1.95  31.0  16.4    14.6       0.77
3           Chelsea  19  11  3   5  ...   1.89  37.4  10.7    26.7       1.40
4    Leicester City  19  11  4   4  ...   1.95  30.6  21.8     8.7       0.46
5         Tottenham  19  12  3   4  ...   2.05  24.4  23.3     1.1       0.06
6            Wolves  19   8  7   4  ...   1.63  25.9  16.5     9.3       0.49
7           Arsenal  19  10  6   3  ...   1.89  27.2  30.7    -3.5      -0.19
8     Sheffield Utd  19  10  3   6  ...   1.74  26.2  19.7     6.5       0.34
9           Burnley  19   8  4   7  ...   1.47  27.2  21.2     6.0       0.32
10      Southampton  19   6  3  10  ...   1.11  23.2  28.1    -5.0      -0.26
11          Everton  19   8  7   4  ...   1.63  27.4  23.4     4.0       0.21
12    Newcastle Utd  19   6  8   5  ...   1.37  18.1  28.0    -9.9      -0.52
13   Crystal Palace  19   6  5   8  ...   1.21  17.6  19.7    -2.1      -0.11
14         Brighton  19   5  7   7  ...   1.16  20.9  26.0    -5.1      -0.27
15     West Ham Utd  19   6  4   9  ...   1.16  23.7  29.1    -5.5      -0.29
16      Aston Villa  19   7  3   9  ...   1.26  21.6  31.3    -9.8      -0.52
17        Leeds Utd  19   5  6   8  ...   1.11  22.2  25.2    -2.9      -0.15
18           Fulham  19   6  6   7  ...   1.26  26.7  27.5    -0.8      -0.04
19       West Brom   19   4  3  12  ...   0.79  20.4  31.7   -11.3      -0.60

[20 rows x 14 columns]

In [ ]:

merged_inner = home_table.merge(home_table1920, on="team", left_index=True, right_index=True)
merged_inner

               team  MP_x  W_x  D_x  ...  xG_y  xGA_y  xGDiff_y  xGDiff/90_y
0           Everton     3    2    1  ...  40.3   18.4      21.9         1.15
1       Aston Villa     2    2    0  ...  47.5   15.2      32.3         1.70
2         Liverpool     2    2    0  ...  31.0   16.4      14.6         0.77
3    Leicester City     3    1    0  ...  37.4   10.7      26.7         1.40
4           Arsenal     2    2    0  ...  30.6   21.8       8.7         0.46
5            Wolves     2    1    0  ...  24.4   23.3       1.1         0.06
6         Tottenham     3    0    2  ...  25.9   16.5       9.3         0.49
7           Chelsea     3    1    1  ...  27.2   30.7      -3.5        -0.19
8      West Ham Utd     2    1    0  ...  26.2   19.7       6.5         0.34
9         Leeds Utd     3    1    1  ...  27.2   21.2       6.0         0.32
10  Manchester City     2    1    0  ...  23.2   28.1      -5.0        -0.26
11      Southampton     2    1    0  ...  27.4   23.4       4.0         0.21
12    Newcastle Utd     3    1    0  ...  18.1   28.0      -9.9        -0.52
13   Crystal Palace     3    1    1  ...  17.6   19.7      -2.1        -0.11
14   Manchester Utd     2    0    0  ...  20.9   26.0      -5.1        -0.27
15         Brighton     2    0    0  ...  23.7   29.1      -5.5        -0.29
16        West Brom     3    0    2  ...  21.6   31.3      -9.8        -0.52
17          Burnley     1    0    0  ...  22.2   25.2      -2.9        -0.15
18    Sheffield Utd     3    0    1  ...  26.7   27.5      -0.8        -0.04
19           Fulham     2    0    0  ...  20.4   31.7     -11.3        -0.60

[20 rows x 27 columns]

In [ ]:
away_table1920.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
away_table1920 = away_table1920.replace('Wolverhampton Wanderers','Wolverhampton')
away_table1920 = away_table1920.replace('Leeds United', 'Leeds Utd')
away_table1920 = away_table1920.replace('West Ham', 'West Ham Utd')
#away_table1920['H Avg GS'] = away_table1920 ['GF'] / away_table1920 ['MP']
#away_table1920 ['H Avg GA'] = away_table1920 ['GA'] / away_table1920 ['MP']
#away_table1920 ['LA GS'] = away_table1920['H Avg GS'].mean()
#away_table1920 ['LA GA'] = away_table1920['H Avg GA'].mean()
#away_table1920 ['A AS'] = away_table1920['H Avg GS']/away_table1920 ['LA GS']
#away_table1920 ['A DS'] = away_table1920['H Avg GA']/away_table1920 ['LA GA']
away_table1920

               team  MP   W  D   L  ...  Pts/G    xG   xGA  xGDiff  xGDiff/90
0         Liverpool  19  14  2   3  ...   2.32  31.2  21.6     9.5       0.50
1   Manchester City  19  11  1   7  ...   1.79  45.5  19.5    26.0       1.37
2    Manchester Utd  19   8  5   6  ...   1.53  28.4  21.1     7.4       0.39
3           Chelsea  19   9  3   7  ...   1.58  29.2  27.2     2.0       0.10
4    Leicester City  19   7  4   8  ...   1.32  31.0  22.7     8.3       0.44
5         Tottenham  19   4  8   7  ...   1.05  21.6  28.7    -7.1      -0.37
6            Wolves  19   7  7   5  ...   1.47  21.2  18.3     2.9       0.15
7           Arsenal  19   4  8   7  ...   1.05  22.0  25.8    -3.8      -0.20
8     Sheffield Utd  19   4  9   6  ...   1.11  15.3  28.2   -12.9      -0.68
9           Burnley  19   7  5   7  ...   1.37  16.6  27.1   -10.4      -0.55
10      Southampton  19   9  4   6  ...   1.63  30.8  24.9     5.9       0.31
11          Everton  19   5  3  11  ...   0.95  21.8  24.9    -3.1      -0.16
12    Newcastle Utd  19   5  3  11  ...   0.95  15.0  30.3   -15.3      -0.81
13   Crystal Palace  19   5  5   9  ...   1.05  16.4  31.6   -15.2      -0.80
14         Brighton  19   4  7   8  ...   1.00  20.3  28.5    -8.2      -0.43
15     West Ham Utd  19   4  5  10  ...   0.89  22.5  31.9    -9.4      -0.49
16      Aston Villa  19   2  5  12  ...   0.58  18.5  34.5   -16.0      -0.84
17        Leeds Utd  19   4  1  14  ...   0.68  20.4  32.3   -11.9      -0.63
18           Fulham  19   2  4  13  ...   0.53  18.5  29.9   -11.4      -0.60
19        West Brom  19   1  3  15  ...   0.32  17.7  30.2   -12.6      -0.66

[20 rows x 14 columns]

In [ ]:
home_table1920_reduced = home_table1920[['team', 'H AS', 'H DS']]
away_table1920_reduced = away_table1920[['team', 'A AS', 'A DS']]
combined_table1920 = pd.merge(home_table1920_reduced, away_table1920_reduced, on='team')
combined_table1920.sort_values('team')
combined_table1920

               team      H AS      H DS      A AS      A DS
0         Liverpool  1.796200  0.719101  1.441048  0.601770
1   Manchester City  1.968912  0.584270  1.965066  0.778761
2    Manchester Utd  1.381693  0.764045  1.135371  0.672566
3           Chelsea  1.036269  0.719101  1.703057  1.345133
4    Leicester City  1.208981  0.764045  1.397380  0.849558
5         Tottenham  1.243523  0.764045  1.091703  1.061947
6            Wolves  0.932642  0.853933  1.048035  0.743363
7           Arsenal  1.243523  1.078652  0.873362  0.849558
8     Sheffield Utd  0.829016  0.674157  0.655022  0.849558
9           Burnley  0.829016  1.033708  0.829694  0.955752
10      Southampton  0.725389  1.573034  1.310044  0.884956
11          Everton  0.829016  0.943820  0.873362  1.238938
12    Newcastle Utd  0.690846  0.943820  0.786026  1.309735
13   Crystal Palace  0.518135  0.898876  0.698690  1.061947
14         Brighton  0.690846  1.213483  0.829694  0.955752
15     West Ham Utd  1.036269  1.483146  0.829694  1.026549
16      Aston Villa  0.759931  1.348315  0.829694  1.309735
17        Leeds Utd  0.759931  1.213483  0.567686  1.168142
18           Fulham  0.759931  1.213483  0.567686  1.168142

In [ ]:
fixtures = pd.read_csv('/content/FPL-FB-Ref-tester/2021 remaining fixtures.csv', encoding = "ISO-8859-1", engine='python')

In [ ]:
fixtures.rename(columns={'ï»¿Home Team': 'Home Team'}, inplace=True)
fixtures = fixtures.replace('Brighton and Hove Albion','Brighton')
fixtures = fixtures.replace('Leeds United', 'Leeds Utd')
fixtures = fixtures.replace('Manchester United','Manchester Utd')
fixtures = fixtures.replace('Newcastle','Newcastle Utd')
fixtures = fixtures.replace('Sheffield United','Sheffield Utd')
fixtures = fixtures.replace('Tottenham Hotspur','Tottenham')
fixtures = fixtures.replace('West Bromwich Albion','West Brom')
fixtures = fixtures.replace('West Ham United','West Ham Utd')
fixtures

           Home Team        Away Team
0        Aston Villa        Leeds Utd
1       West Ham Utd  Manchester City
2             Fulham   Crystal Palace
3     Manchester Utd          Chelsea
4          Liverpool    Sheffield Utd
..               ...              ...
325        Leeds Utd        West Brom
326  Manchester City          Everton
327    Sheffield Utd          Burnley
328      Aston Villa          Chelsea
329           Fulham    Newcastle Utd

[330 rows x 2 columns]

In [ ]:
df=fixtures.merge(combined_table,left_on='Home Team',right_on='team',how='inner')

In [ ]:
df

          Home Team        Away Team  ...      A AS      A DS
0       Aston Villa        Leeds Utd  ...  0.991736  0.000000
1       Aston Villa      Southampton  ...  0.991736  0.000000
2       Aston Villa         Brighton  ...  0.991736  0.000000
3       Aston Villa    Newcastle Utd  ...  0.991736  0.000000
4       Aston Villa          Burnley  ...  0.991736  0.000000
..              ...              ...  ...       ...       ...
308  Leicester City  Manchester City  ...  1.983471  0.621762
309  Leicester City        West Brom  ...  1.983471  0.621762
310  Leicester City   Crystal Palace  ...  1.983471  0.621762
311  Leicester City    Newcastle Utd  ...  1.983471  0.621762
312  Leicester City        Tottenham  ...  1.983471  0.621762

[313 rows x 7 columns]

In [ ]:
df2=df.merge(combined_table,left_on='Away Team',right_on='team',how='inner')

In [ ]:
df2

           Home Team      Away Team  ...    A AS_y    A DS_y
0        Aston Villa      Leeds Utd  ...  0.991736  1.243523
1       West Ham Utd      Leeds Utd  ...  0.991736  1.243523
2             Fulham      Leeds Utd  ...  0.991736  1.243523
3     Manchester Utd      Leeds Utd  ...  0.991736  1.243523
4        Southampton      Leeds Utd  ...  0.991736  1.243523
..               ...            ...  ...       ...       ...
292  Manchester City  Sheffield Utd  ...  0.247934  0.932642
293        West Brom  Sheffield Utd  ...  0.247934  0.932642
294          Everton  Sheffield Utd  ...  0.247934  0.932642
295          Chelsea  Sheffield Utd  ...  0.247934  0.932642
296   Leicester City  Sheffield Utd  ...  0.247934  0.932642

[297 rows x 12 columns]

In [ ]:
!git clone https://github.com/huricane85/FPL-FB-Ref-tester

Cloning into 'FPL-FB-Ref-tester'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 18 (delta 5), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (18/18), done.