<a href="https://colab.research.google.com/github/huricane85/FPL-FB-Ref-tester/blob/main/FB_Ref_tester_%2B_API_Fixtures_28_10_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import scipy
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!git clone https://github.com/huricane85/FPL-FB-Ref-tester

Cloning into 'FPL-FB-Ref-tester'...
remote: Enumerating objects: 38, done.
remote: Counting objects: 100% (38/38), done.
remote: Compressing objects: 100% (38/38), done.
remote: Total 38 (delta 15), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (38/38), done.

In [ ]:
home_table = pd.read_csv('/content/FPL-FB-Ref-tester/PL Home.csv', encoding = "ISO-8859-1", engine='python')
away_table = pd.read_csv('/content/FPL-FB-Ref-tester/PL Away.csv', encoding = "ISO-8859-1", engine='python')

In [ ]:
home_table.rename(columns={'ï»¿team': 'team'}, inplace=True)
home_table = home_table.replace('Wolverhampton Wanderers','Wolverhampton')
home_table = home_table.replace('Leeds United', 'Leeds Utd')
home_table = home_table.replace('West Ham', 'West Ham Utd')
home_table

               team  MP  W  D  L  GF  ...  Pts  Pts/G   xG  xGA  xGDiff  xGDiff/90
0           Everton   3  2  1  0  11  ...    7   2.33  6.4  3.7     2.7       0.89
1       Aston Villa   2  2  0  0   8  ...    6   3.00  4.9  2.6     2.3       1.14
2         Liverpool   2  2  0  0   7  ...    6   3.00  6.3  1.8     4.5       2.27
3    Leicester City   3  1  0  2   4  ...    3   1.00  2.3  4.2    -1.8      -0.61
4           Arsenal   2  2  0  0   4  ...    6   3.00  1.7  2.1    -0.4      -0.18
5            Wolves   2  1  0  1   2  ...    3   1.50  2.2  2.7    -0.5      -0.24
6         Tottenham   3  0  2  1   4  ...    2   0.67  4.4  4.5    -0.1      -0.02
7           Chelsea   3  1  1  1   7  ...    4   1.33  5.6  4.9     0.7       0.23
8      West Ham Utd   2  1  0  1   4  ...    3   1.50  2.7  2.0     0.7       0.35
9         Leeds Utd   3  1  1  1   5  ...    4   1.33  4.9  3.8     1.1       0.37
10  Manchester City   2  1  0  1   3  ...    3   1.50  2.4  3.5    -1.1      -0.54
11      Southampton   2  1  0  1   4  ...    3   1.50  2.7  2.6     0.1       0.05
12    Newcastle Utd   3  1  0  2   4  ...    3   1.00  3.1  4.9    -1.8      -0.61
13   Crystal Palace   3  1  1  1   3  ...    4   1.33  1.8  4.3    -2.4      -0.81
14   Manchester Utd   2  0  0  2   2  ...    0   0.00  2.0  5.4    -3.4      -1.69
15         Brighton   2  0  0  2   3  ...    0   0.00  3.8  2.2     1.6       0.81
16        West Brom   3  0  2  1   3  ...    2   0.67  2.4  5.5    -3.1      -1.03
17          Burnley   1  0  0  1   0  ...    0   0.00  0.5  0.6    -0.1      -0.12
18    Sheffield Utd   3  0  1  2   1  ...    1   0.33  3.7  4.6    -0.9      -0.30
19           Fulham   2  0  0  2   0  ...    0   0.00  0.9  3.4    -2.5      -1.27

[20 rows x 14 columns]

In [ ]:
away_table.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
away_table = away_table.replace('Wolverhampton Wanderers','Wolverhampton')
away_table = away_table.replace('Leeds United', 'Leeds Utd')
away_table = away_table.replace('West Ham', 'West Ham Utd')
away_table

               team  MP  W  D  L  GF  ...  Pts  Pts/G   xG  xGA  xGDiff  xGDiff/90
0           Everton   2  2  0  0   3  ...    6   3.00  3.5  1.4     2.1       1.04
1       Aston Villa   2  2  0  0   4  ...    6   3.00  2.3  1.3     1.0       0.51
2         Liverpool   3  1  1  1   6  ...    4   1.33  6.6  6.2     0.3       0.11
3    Leicester City   2  2  0  0   8  ...    6   3.00  4.8  1.4     3.4       1.69
4           Arsenal   3  1  0  2   4  ...    3   1.00  3.9  4.6    -0.7      -0.25
5            Wolves   3  2  0  1   3  ...    6   2.00  2.2  3.8    -1.6      -0.52
6         Tottenham   2  2  0  0  11  ...    6   3.00  6.3  2.5     3.9       1.93
7           Chelsea   2  1  1  0   6  ...    4   2.00  3.4  2.4     1.0       0.49
8      West Ham Utd   3  1  1  1   7  ...    4   1.33  5.6  3.0     2.6       0.87
9         Leeds Utd   2  1  0  1   4  ...    3   1.50  2.1  4.9    -2.8      -1.38
10  Manchester City   2  1  1  0   4  ...    4   2.00  3.4  2.7     0.8       0.39
11      Southampton   3  1  1  1   4  ...    4   1.33  3.6  3.2     0.5       0.15
12    Newcastle Utd   2  1  1  0   3  ...    4   2.00  2.5  3.4    -0.9      -0.47
13   Crystal Palace   2  1  0  1   3  ...    3   1.50  1.7  3.6    -1.9      -0.97
14   Manchester Utd   2  2  0  0   7  ...    6   3.00  3.8  2.9     0.8       0.42
15         Brighton   3  1  1  1   6  ...    4   1.33  4.3  3.1     1.2       0.40
16        West Brom   2  0  0  2   2  ...    0   0.00  0.4  4.6    -4.2      -2.08
17          Burnley   3  0  1  2   3  ...    1   0.33  3.6  4.3    -0.8      -0.26
18    Sheffield Utd   2  0  0  2   1  ...    0   0.00  1.0  1.4    -0.3      -0.17
19           Fulham   3  0  1  2   4  ...    1   0.33  4.4  4.3     0.1       0.02

[20 rows x 14 columns]

In [ ]:
home_table1920 = pd.read_csv('/content/FPL-FB-Ref-tester/PL Home 19-20adjusted.csv', encoding = "ISO-8859-1", engine='python')
away_table1920 = pd.read_csv('/content/FPL-FB-Ref-tester/PL Away 19-20adjusted.csv', encoding = "ISO-8859-1", engine='python')

In [ ]:
home_table1920.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
home_table1920 = home_table1920.replace('Wolverhampton Wanderers','Wolverhampton')
home_table1920 = home_table1920.replace('Leeds United', 'Leeds Utd')
home_table1920 = home_table1920.replace('West Ham', 'West Ham Utd')
home_table1920

               team  MP   W  D   L  ...  Pts/G    xG   xGA  xGDiff  xGDiff/90
0         Liverpool  19  18  1   0  ...   2.89  40.3  18.4    21.9       1.15
1   Manchester City  19  15  2   2  ...   2.47  47.5  15.2    32.3       1.70
2    Manchester Utd  19  10  7   2  ...   1.95  31.0  16.4    14.6       0.77
3           Chelsea  19  11  3   5  ...   1.89  37.4  10.7    26.7       1.40
4    Leicester City  19  11  4   4  ...   1.95  30.6  21.8     8.7       0.46
5         Tottenham  19  12  3   4  ...   2.05  24.4  23.3     1.1       0.06
6            Wolves  19   8  7   4  ...   1.63  25.9  16.5     9.3       0.49
7           Arsenal  19  10  6   3  ...   1.89  27.2  30.7    -3.5      -0.19
8     Sheffield Utd  19  10  3   6  ...   1.74  26.2  19.7     6.5       0.34
9           Burnley  19   8  4   7  ...   1.47  27.2  21.2     6.0       0.32
10      Southampton  19   6  3  10  ...   1.11  23.2  28.1    -5.0      -0.26
11          Everton  19   8  7   4  ...   1.63  27.4  23.4     4.0       0.21
12    Newcastle Utd  19   6  8   5  ...   1.37  18.1  28.0    -9.9      -0.52
13   Crystal Palace  19   6  5   8  ...   1.21  17.6  19.7    -2.1      -0.11
14         Brighton  19   5  7   7  ...   1.16  20.9  26.0    -5.1      -0.27
15     West Ham Utd  19   6  4   9  ...   1.16  23.7  29.1    -5.5      -0.29
16      Aston Villa  19   7  3   9  ...   1.26  21.6  31.3    -9.8      -0.52
17        Leeds Utd  19   5  6   8  ...   1.11  22.2  25.2    -2.9      -0.15
18           Fulham  19   6  6   7  ...   1.26  26.7  27.5    -0.8      -0.04
19       West Brom   19   4  3  12  ...   0.79  20.4  31.7   -11.3      -0.60

[20 rows x 14 columns]

In [ ]:
homebothyears = home_table.merge(home_table1920, on="team", left_index=True, right_index=True)
homebothyears['MP']=homebothyears['MP_x']+homebothyears['MP_y']
homebothyears['GF']=homebothyears['GF_x']+homebothyears['GF_y']
homebothyears['GA']=homebothyears['GA_x']+homebothyears['GA_y']
homebothyears['H Avg GS'] = homebothyears ['GF'] / homebothyears ['MP']
homebothyears ['H Avg GA'] = homebothyears ['GA'] / homebothyears ['MP']
homebothyears ['Home LA GS'] = homebothyears['H Avg GS'].mean()
homebothyears ['Home LA GA'] = homebothyears['H Avg GA'].mean()
homebothyears ['H AS'] = homebothyears['H Avg GS']/homebothyears ['Home LA GS']
homebothyears ['H DS'] = homebothyears['H Avg GA']/homebothyears ['Home LA GA']
home_table_reduced = homebothyears[['team', 'H AS', 'H DS','Home LA GS']]
home_table_reduced

               team      H AS      H DS  Home LA GS
0           Everton  1.862043  0.794989      1.5379
1       Aston Villa  2.012639  0.567849      1.5379
2         Liverpool  1.455293  0.794989      1.5379
3    Leicester City  1.004912  0.794989      1.5379
4           Arsenal  1.207583  0.719276      1.5379
5            Wolves  1.176620  0.757133      1.5379
6         Tottenham  0.916243  0.867261      1.5379
7           Chelsea  1.270918  1.047940      1.5379
8      West Ham Utd  0.866983  0.643563      1.5379
9         Leeds Utd  0.857131  1.011804      1.5379
10  Manchester City  0.743128  1.514265      1.5379
11      Southampton  0.866983  0.984272      1.5379
12    Newcastle Utd  0.709350  1.047940      1.5379
13   Crystal Palace  0.532012  0.831125      1.5379
14   Manchester Utd  0.681201  1.362839      1.5379
15         Brighton  1.021801  1.476408      1.5379
16        West Brom  0.738906  1.300891      1.5379
17          Burnley  0.715261  1.112985      1.5379
18    Sheffield Utd  0.679793  1.120212      1.5379
19           Fulham  0.681201  1.249269      1.5379

In [ ]:
away_table1920.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
away_table1920 = away_table1920.replace('Wolverhampton Wanderers','Wolverhampton')
away_table1920 = away_table1920.replace('Leeds United', 'Leeds Utd')
away_table1920 = away_table1920.replace('West Ham', 'West Ham Utd')
away_table1920

               team  MP   W  D   L  ...  Pts/G    xG   xGA  xGDiff  xGDiff/90
0         Liverpool  19  14  2   3  ...   2.32  31.2  21.6     9.5       0.50
1   Manchester City  19  11  1   7  ...   1.79  45.5  19.5    26.0       1.37
2    Manchester Utd  19   8  5   6  ...   1.53  28.4  21.1     7.4       0.39
3           Chelsea  19   9  3   7  ...   1.58  29.2  27.2     2.0       0.10
4    Leicester City  19   7  4   8  ...   1.32  31.0  22.7     8.3       0.44
5         Tottenham  19   4  8   7  ...   1.05  21.6  28.7    -7.1      -0.37
6            Wolves  19   7  7   5  ...   1.47  21.2  18.3     2.9       0.15
7           Arsenal  19   4  8   7  ...   1.05  22.0  25.8    -3.8      -0.20
8     Sheffield Utd  19   4  9   6  ...   1.11  15.3  28.2   -12.9      -0.68
9           Burnley  19   7  5   7  ...   1.37  16.6  27.1   -10.4      -0.55
10      Southampton  19   9  4   6  ...   1.63  30.8  24.9     5.9       0.31
11          Everton  19   5  3  11  ...   0.95  21.8  24.9    -3.1      -0.16
12    Newcastle Utd  19   5  3  11  ...   0.95  15.0  30.3   -15.3      -0.81
13   Crystal Palace  19   5  5   9  ...   1.05  16.4  31.6   -15.2      -0.80
14         Brighton  19   4  7   8  ...   1.00  20.3  28.5    -8.2      -0.43
15     West Ham Utd  19   4  5  10  ...   0.89  22.5  31.9    -9.4      -0.49
16      Aston Villa  19   2  5  12  ...   0.58  18.5  34.5   -16.0      -0.84
17        Leeds Utd  19   4  1  14  ...   0.68  20.4  32.3   -11.9      -0.63
18           Fulham  19   2  4  13  ...   0.53  18.5  29.9   -11.4      -0.60
19        West Brom  19   1  3  15  ...   0.32  17.7  30.2   -12.6      -0.66

[20 rows x 14 columns]

In [ ]:
awaybothyears = away_table.merge(away_table1920, on="team", left_index=True, right_index=True)
awaybothyears['MP']=awaybothyears['MP_x']+awaybothyears['MP_y']
awaybothyears['GF']=awaybothyears['GF_x']+awaybothyears['GF_y']
awaybothyears['GA']=awaybothyears['GA_x']+awaybothyears['GA_y']
awaybothyears['A Avg GS'] = awaybothyears ['GF'] / awaybothyears ['MP']
awaybothyears ['A Avg GA'] = awaybothyears ['GA'] / awaybothyears ['MP']
awaybothyears ['Away LA GS'] = awaybothyears['A Avg GS'].mean()
awaybothyears ['Away LA GA'] = awaybothyears['A Avg GA'].mean()
awaybothyears ['A AS'] = awaybothyears['A Avg GS']/awaybothyears ['Away LA GS']
awaybothyears ['A DS'] = awaybothyears['A Avg GA']/awaybothyears ['Away LA GA']
away_table_reduced = awaybothyears[['team', 'A AS', 'A DS','Away LA GS']]
away_table_reduced

               team      A AS      A DS  Away LA GS
0           Everton  1.328636  0.569907     1.29026
1       Aston Villa  1.808421  0.696553     1.29026
2         Liverpool  1.127328  0.846226     1.29026
3    Leicester City  1.734608  1.266460     1.29026
4           Arsenal  1.268244  0.846226     1.29026
5            Wolves  0.986412  1.027560     1.29026
6         Tottenham  1.291730  0.759876     1.29026
7           Chelsea  0.959571  0.886522     1.29026
8      West Ham Utd  0.775038  0.876448     1.29026
9         Leeds Utd  0.848851  0.981507     1.29026
10  Manchester City  1.254823  0.854861     1.29026
11      Southampton  0.845496  1.178672     1.29026
12    Newcastle Utd  0.775038  1.203137     1.29026
13   Crystal Palace  0.701225  1.108153     1.29026
14   Manchester Utd  0.959571  0.949845     1.29026
15         Brighton  0.880725  1.027560     1.29026
16        West Brom  0.775038  1.393106     1.29026
17          Burnley  0.563664  1.208894     1.29026
18    Sheffield Utd  0.516692  1.139814     1.29026
19           Fulham  0.598893  1.178672     1.29026

In [ ]:
combined_table = pd.merge(home_table_reduced, away_table_reduced, on='team')
combined_table.sort_values('team')
combined_table

               team      H AS      H DS  ...      A AS      A DS  Away LA GS
0           Everton  1.862043  0.794989  ...  1.328636  0.569907     1.29026
1       Aston Villa  2.012639  0.567849  ...  1.808421  0.696553     1.29026
2         Liverpool  1.455293  0.794989  ...  1.127328  0.846226     1.29026
3    Leicester City  1.004912  0.794989  ...  1.734608  1.266460     1.29026
4           Arsenal  1.207583  0.719276  ...  1.268244  0.846226     1.29026
5            Wolves  1.176620  0.757133  ...  0.986412  1.027560     1.29026
6         Tottenham  0.916243  0.867261  ...  1.291730  0.759876     1.29026
7           Chelsea  1.270918  1.047940  ...  0.959571  0.886522     1.29026
8      West Ham Utd  0.866983  0.643563  ...  0.775038  0.876448     1.29026
9         Leeds Utd  0.857131  1.011804  ...  0.848851  0.981507     1.29026
10  Manchester City  0.743128  1.514265  ...  1.254823  0.854861     1.29026
11      Southampton  0.866983  0.984272  ...  0.845496  1.178672     1.29026
12    Newcastle Utd  0.709350  1.047940  ...  0.775038  1.203137     1.29026
13   Crystal Palace  0.532012  0.831125  ...  0.701225  1.108153     1.29026
14   Manchester Utd  0.681201  1.362839  ...  0.959571  0.949845     1.29026
15         Brighton  1.021801  1.476408  ...  0.880725  1.027560     1.29026
16        West Brom  0.738906  1.300891  ...  0.775038  1.393106     1.29026
17          Burnley  0.715261  1.112985  ...  0.563664  1.208894     1.29026
18    Sheffield Utd  0.679793  1.120212  ...  0.516692  1.139814     1.29026
19           Fulham  0.681201  1.249269  ...  0.598893  1.178672     1.29026

[20 rows x 7 columns]

In [ ]:
from urllib.request import urlopen
from json import loads
from csv import writer


def team_converter(team_id):
    '''Converts a team's ID to their actual name'''
    team_map = {
        1: "Arsenal",
        2: "Aston Villa",
        3: "Brighton",
        4: "Burnley",
        5: "Chelsea",
        6: "Crystal Palace",
        7: "Everton",
        8: "Fulham",
        9: "Leicester City",
        10: "Leeds Utd",
        11: "Liverpool",
        12: "Manchester City",
        13: "Manchester Utd",
        14: "Newcastle Utd",
        15: "Sheffield Utd",
        16: "Southampton",
        17: "Tottenham",
        18: "West Brom",
        19: "West Ham Utd",
        20: "Wolves",
        None: None
    }
    return team_map[team_id]


def position_converter(position):
    '''Converts a player's element_type to their actual position'''
    position_map = {
        1: "Goalkeeper",
        2: "Defender",
        3: "Midfielder",
        4: "Forward"
    }
    return position_map[position]


def main():
    all_data = loads(urlopen("https://fantasy.premierleague.com/api/fixtures/").read())
    fixtures = all_data

    important_data = [
        [
            x["event"],
            team_converter(x["team_h"]),
            team_converter(x["team_a"]),
            x["kickoff_time"],
            
        ]
        for x in fixtures
    ]

    with open("/fixtures_data.csv", "w", encoding="utf-8", newline="") as out:
        headers = ["event","team_h","team_a","kickoff_time"]
        w = writer(out)
        w.writerow(headers)
        w.writerows(important_data)

if __name__ == "__main__":
    main()

In [ ]:
fixtures = pd.read_csv('/fixtures_data.csv', encoding = "ISO-8859-1", engine='python')
fixtures.rename(columns={'event': 'GW'}, inplace=True)
fixtures.rename(columns={'team_h': 'Home Team'}, inplace=True)
fixtures.rename(columns={'team_a': 'Away Team'}, inplace=True)
fixtures = fixtures.replace('Wolverhampton','Wolves')
fixtures

       GW        Home Team       Away Team          kickoff_time
0     NaN          Burnley  Manchester Utd                   NaN
1     NaN  Manchester City     Aston Villa                   NaN
2     1.0           Fulham         Arsenal  2020-09-12T11:30:00Z
3     1.0   Crystal Palace     Southampton  2020-09-12T14:00:00Z
4     1.0        Liverpool       Leeds Utd  2020-09-12T16:30:00Z
..    ...              ...             ...                   ...
375  38.0        Liverpool  Crystal Palace  2021-05-23T15:00:00Z
376  38.0  Manchester City         Everton  2021-05-23T15:00:00Z
377  38.0    Sheffield Utd         Burnley  2021-05-23T15:00:00Z
378  38.0     West Ham Utd     Southampton  2021-05-23T15:00:00Z
379  38.0           Wolves  Manchester Utd  2021-05-23T15:00:00Z

[380 rows x 4 columns]

In [ ]:
df=fixtures.merge(combined_table,left_on='Home Team',right_on='team',how='inner')

In [ ]:
df

       GW Home Team       Away Team  ...      A AS      A DS  Away LA GS
0     NaN   Burnley  Manchester Utd  ...  0.563664  1.208894     1.29026
1     3.0   Burnley     Southampton  ...  0.563664  1.208894     1.29026
2     6.0   Burnley       Tottenham  ...  0.563664  1.208894     1.29026
3     7.0   Burnley         Chelsea  ...  0.563664  1.208894     1.29026
4     9.0   Burnley  Crystal Palace  ...  0.563664  1.208894     1.29026
..    ...       ...             ...  ...       ...       ...         ...
375  30.0    Wolves    West Ham Utd  ...  0.986412  1.027560     1.29026
376  32.0    Wolves   Sheffield Utd  ...  0.986412  1.027560     1.29026
377  33.0    Wolves         Burnley  ...  0.986412  1.027560     1.29026
378  35.0    Wolves        Brighton  ...  0.986412  1.027560     1.29026
379  38.0    Wolves  Manchester Utd  ...  0.986412  1.027560     1.29026

[380 rows x 11 columns]

In [ ]:
df2=df.merge(combined_table,left_on='Away Team',right_on='team',how='inner')

In [ ]:
df2.sort_values('GW')

       GW        Home Team       Away Team  ...   Away AS   Away DS  Away LA GS_y
22    1.0   Crystal Palace     Southampton  ...  0.845496  1.178672       1.29026
290   1.0     West Ham Utd   Newcastle Utd  ...  0.775038  1.203137       1.29026
272   1.0        West Brom  Leicester City  ...  1.734608  1.266460       1.29026
122   1.0    Sheffield Utd          Wolves  ...  0.986412  1.027560       1.29026
249   1.0           Fulham         Arsenal  ...  1.268244  0.846226       1.29026
..    ...              ...             ...  ...       ...       ...           ...
54   38.0   Leicester City       Tottenham  ...  1.291730  0.759876       1.29026
221  38.0          Arsenal        Brighton  ...  0.880725  1.027560       1.29026
24   38.0     West Ham Utd     Southampton  ...  0.845496  1.178672       1.29026
0     NaN          Burnley  Manchester Utd  ...  0.959571  0.949845       1.29026
172   NaN  Manchester City     Aston Villa  ...  1.808421  0.696553       1.29026

[380 rows x 18 columns]

In [ ]:
df2.rename(columns={'H AS_x': 'Home AS'}, inplace=True)
df2.rename(columns={'H DS_x': 'Home DS'}, inplace=True)
df2.rename(columns={'A AS_y': 'Away AS'}, inplace=True)
df2.rename(columns={'A DS_y': 'Away DS'}, inplace=True)
df2.rename(columns={'Home LA GS_x': 'Home LA GS'}, inplace=True)
df2.rename(columns={'Away LA GS_x': 'Away LA GS'}, inplace=True)
df2.columns

Index(['GW', 'Home Team', 'Away Team', 'kickoff_time', 'team_x', 'Home AS',
       'Home DS', 'Home LA GS', 'A AS_x', 'A DS_x', 'Away LA GS', 'team_y',
       'H AS_y', 'H DS_y', 'Home LA GS_y', 'Away AS', 'Away DS',
       'Away LA GS_y'],
      dtype='object')

In [ ]:
df3 = df2[['GW', 'Home Team', 'Away Team', 'kickoff_time', 'Home AS','Home DS','Home LA GS','Away LA GS','Away AS','Away DS']].copy()
df3

       GW        Home Team       Away Team  ... Away LA GS   Away AS   Away DS
0     NaN          Burnley  Manchester Utd  ...    1.29026  0.959571  0.949845
1    27.0  Manchester City  Manchester Utd  ...    1.29026  0.959571  0.949845
2    18.0           Fulham  Manchester Utd  ...    1.29026  0.959571  0.949845
3    29.0   Crystal Palace  Manchester Utd  ...    1.29026  0.959571  0.949845
4    19.0        Liverpool  Manchester Utd  ...    1.29026  0.959571  0.949845
..    ...              ...             ...  ...        ...       ...       ...
375   4.0    Newcastle Utd         Burnley  ...    1.29026  0.563664  1.208894
376  21.0          Chelsea         Burnley  ...    1.29026  0.563664  1.208894
377   2.0   Leicester City         Burnley  ...    1.29026  0.563664  1.208894
378  13.0      Aston Villa         Burnley  ...    1.29026  0.563664  1.208894
379  33.0           Wolves         Burnley  ...    1.29026  0.563664  1.208894

[380 rows x 10 columns]

In [ ]:
df3['Home Score'] = df3['Home AS']*df3['Away DS']*df3['Home LA GS']
df3['Away Score']=df3['Away AS']*df3['Home DS']*df3['Away LA GS']
fixturesandscores = df3[['GW', 'Home Team','Home Score','Away Score','Away Team']].copy()
fixturesandscores.sort_values('GW')

       GW        Home Team  Home Score  Away Score       Away Team
22    1.0   Crystal Palace    0.964368    0.906682     Southampton
290   1.0     West Ham Utd    1.604183    0.643563   Newcastle Utd
272   1.0        West Brom    1.439160    2.911519  Leicester City
122   1.0    Sheffield Utd    1.074267    1.425724          Wolves
249   1.0           Fulham    0.886522    2.044258         Arsenal
..    ...              ...         ...         ...             ...
54   38.0   Leicester City    1.174354    1.324982       Tottenham
221  38.0          Arsenal    1.908326    0.817359        Brighton
24   38.0     West Ham Utd    1.571562    0.702068     Southampton
0     NaN          Burnley    1.044830    1.377981  Manchester Utd
172   NaN  Manchester City    0.796061    3.533285     Aston Villa

[380 rows x 5 columns]

In [ ]:
gw7 = fixturesandscores[fixturesandscores['GW'] == 7.0]
gw7homescores = gw7[['GW', 'Home Team','Home Score']].copy()
gw7homescores.rename(columns={'Home Score': 'GW7 Projected Goals'}, inplace=True)
gw7homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw7awayscores = gw7[['GW', 'Away Team', 'Away Score']].copy()
gw7awayscores.rename(columns={'Away Score': 'GW7 Projected Goals'}, inplace=True)
gw7awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw7projectedscores = gw7homescores.append(gw7awayscores)
gw7projectedscores=gw7projectedscores.drop(columns=['GW'])
gw7projectedscores

                Team  GW7 Projected Goals
36       Aston Villa             3.648269
57           Burnley             0.975174
94            Wolves             2.005229
109    Newcastle Utd             0.621717
197    Sheffield Utd             0.893718
216        Tottenham             1.447925
230           Fulham             1.459445
259   Manchester Utd             0.886522
277        Leeds Utd             1.669425
308        Liverpool             1.961574
36       Southampton             0.619472
57           Chelsea             1.377981
94    Crystal Palace             0.685025
109          Everton             1.796469
197  Manchester City             1.813677
216         Brighton             0.985524
230        West Brom             1.249269
259          Arsenal             2.230099
277   Leicester City             2.264515
308     West Ham Utd             0.794989

In [ ]:
gw8 = fixturesandscores[fixturesandscores['GW'] == 8.0]
gw8homescores = gw8[['GW', 'Home Team','Home Score']].copy()
gw8homescores.rename(columns={'Home Score': 'GW8 Projected Goals'}, inplace=True)
gw8homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw8awayscores = gw8[['GW', 'Away Team', 'Away Score']].copy()
gw8awayscores.rename(columns={'Away Score': 'GW8 Projected Goals'}, inplace=True)
gw8awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw8projectedscores = gw8homescores.append(gw8awayscores)
gw8projectedscores=gw8projectedscores.drop(columns=['GW'])
gw8projectedscores

                Team  GW8 Projected Goals
10           Everton             2.720012
44         West Brom             0.863496
131   Leicester City             1.588047
148          Chelsea             2.227819
156     West Ham Utd             1.571562
184          Arsenal             1.293599
299      Southampton             1.604183
326   Crystal Palace             0.803051
343  Manchester City             0.967115
369         Brighton             1.899691
10    Manchester Utd             0.984272
44         Tottenham             2.168152
131           Wolves             1.011804
148    Sheffield Utd             0.698627
156           Fulham             0.497298
184      Aston Villa             1.678310
299    Newcastle Utd             0.984272
326        Leeds Utd             0.910280
343        Liverpool             2.202567
369          Burnley             1.073752

In [ ]:
gw9 = fixturesandscores[fixturesandscores['GW'] == 9.0]
gw9homescores = gw9[['GW', 'Home Team','Home Score']].copy()
gw9homescores.rename(columns={'Home Score': 'GW9 Projected Goals'}, inplace=True)
gw9homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw9awayscores = gw9[['GW', 'Away Team', 'Away Score']].copy()
gw9awayscores.rename(columns={'Away Score': 'GW9 Projected Goals'}, inplace=True)
gw9awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw9projectedscores = gw9homescores.append(gw9awayscores)
gw9projectedscores=gw9projectedscores.drop(columns=['GW'])
gw9projectedscores

                Team  GW9 Projected Goals
37            Wolves             2.132834
72     Newcastle Utd             0.967115
76           Burnley             1.218968
97            Fulham             0.597046
196        Tottenham             1.204577
226      Aston Villa             3.180543
239   Manchester Utd             1.459445
258        Leeds Utd             1.115479
270        Liverpool             2.834459
311    Sheffield Utd             0.916287
37       Southampton             0.825963
72           Chelsea             1.297450
76    Crystal Palace             1.006986
97           Everton             2.141603
196  Manchester City             1.404137
226         Brighton             0.645283
239        West Brom             1.362839
258          Arsenal             1.655680
270   Leicester City             1.779261
311     West Ham Utd             1.120212

In [ ]:
gw10 = fixturesandscores[fixturesandscores['GW'] == 10.0]
gw10homescores = gw10[['GW', 'Home Team','Home Score']].copy()
gw10homescores.rename(columns={'Home Score': 'GW10 Projected Goals'}, inplace=True)
gw10homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw10awayscores = gw10[['GW', 'Away Team', 'Away Score']].copy()
gw10awayscores.rename(columns={'Away Score': 'GW10 Projected Goals'}, inplace=True)
gw10awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw10projectedscores = gw10homescores.append(gw10awayscores)
gw10projectedscores=gw10projectedscores.drop(columns=['GW'])
gw10projectedscores

                Team  GW10 Projected Goals
13       Southampton              1.266460
53           Chelsea              1.485213
127          Arsenal              1.908326
139        West Brom              1.295244
168   Leicester City              1.821583
176     West Ham Utd              0.928738
288   Crystal Palace              0.984385
333          Everton              2.810679
350         Brighton              1.329783
361  Manchester City              1.381593
13    Manchester Utd              1.218623
53         Tottenham              1.746567
127           Wolves              0.915442
139    Sheffield Utd              0.867261
168           Fulham              0.614310
176      Aston Villa              1.501646
288    Newcastle Utd              0.831125
333        Leeds Utd              0.870702
350        Liverpool              2.147503
361          Burnley              1.101284

In [ ]:
gw11 = fixturesandscores[fixturesandscores['GW'] == 11.0]
gw11homescores = gw11[['GW', 'Home Team','Home Score']].copy()
gw11homescores.rename(columns={'Home Score': 'GW11 Projected Goals'}, inplace=True)
gw11homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw11awayscores = gw11[['GW', 'Away Team', 'Away Score']].copy()
gw11awayscores.rename(columns={'Away Score': 'GW11 Projected Goals'}, inplace=True)
gw11awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw11projectedscores = gw11homescores.append(gw11awayscores)
gw11projectedscores=gw11projectedscores.drop(columns=['GW'])
gw11projectedscores

                Team  GW11 Projected Goals
5       West Ham Utd              1.266460
28          Brighton              1.852198
81         West Brom              1.259265
95           Burnley              0.626898
118        Liverpool              2.299777
153  Manchester City              1.347053
254        Tottenham              1.192409
274    Sheffield Utd              1.324027
302      Aston Villa              3.723997
338          Chelsea              1.918400
5     Manchester Utd              0.796792
28       Southampton              1.610627
81    Crystal Palace              1.176997
95           Everton              1.907974
118           Wolves              1.011804
153           Fulham              1.170114
254          Arsenal              1.419154
274   Leicester City              2.507141
302    Newcastle Utd              0.567849
338        Leeds Utd              1.147744

In [ ]:
gw7and8 = pd.merge(gw7projectedscores, gw8projectedscores, on='Team')
gw9and10 = pd.merge(gw9projectedscores, gw10projectedscores, on='Team')
gw7to10 = pd.merge(gw7and8, gw9and10, on='Team')
gw7to11 = pd.merge(gw7to10, gw11projectedscores, on='Team')
gw7to11

               Team  ...  GW11 Projected Goals
0       Aston Villa  ...              3.723997
1           Burnley  ...              0.626898
2            Wolves  ...              1.011804
3     Newcastle Utd  ...              0.567849
4     Sheffield Utd  ...              1.324027
5         Tottenham  ...              1.192409
6            Fulham  ...              1.170114
7    Manchester Utd  ...              0.796792
8         Leeds Utd  ...              1.147744
9         Liverpool  ...              2.299777
10      Southampton  ...              1.610627
11          Chelsea  ...              1.918400
12   Crystal Palace  ...              1.176997
13          Everton  ...              1.907974
14  Manchester City  ...              1.347053
15         Brighton  ...              1.852198
16        West Brom  ...              1.259265
17          Arsenal  ...              1.419154
18   Leicester City  ...              2.507141
19     West Ham Utd  ...              1.266460

[20 rows x 6 columns]

In [ ]:
print(list(gw7to11))

['Team', 'GW7 Projected Goals', 'GW8 Projected Goals', 'GW9 Projected Goals', 'GW10 Projected Goals', 'GW11 Projected Goals']

In [ ]:
cols = ['GW7 Projected Goals', 'GW8 Projected Goals', 'GW9 Projected Goals', 'GW10 Projected Goals', 'GW11 Projected Goals']
for col in cols:
    gw7to11['%s_average' % col] = gw7to11[col].mean()

gw7to11plusaverages = gw7to11
gw7to11plusaverages

               Team  ...  GW11 Projected Goals_average
0       Aston Villa  ...                      1.506334
1           Burnley  ...                      1.506334
2            Wolves  ...                      1.506334
3     Newcastle Utd  ...                      1.506334
4     Sheffield Utd  ...                      1.506334
5         Tottenham  ...                      1.506334
6            Fulham  ...                      1.506334
7    Manchester Utd  ...                      1.506334
8         Leeds Utd  ...                      1.506334
9         Liverpool  ...                      1.506334
10      Southampton  ...                      1.506334
11          Chelsea  ...                      1.506334
12   Crystal Palace  ...                      1.506334
13          Everton  ...                      1.506334
14  Manchester City  ...                      1.506334
15         Brighton  ...                      1.506334
16        West Brom  ...                      1.506334
17          Arsenal  ...                      1.506334
18   Leicester City  ...                      1.506334
19     West Ham Utd  ...                      1.506334

[20 rows x 11 columns]

In [ ]:
print(list(gw7to11plusaverages))

['Team', 'GW7 Projected Goals', 'GW8 Projected Goals', 'GW9 Projected Goals', 'GW10 Projected Goals', 'GW11 Projected Goals', 'GW7 Projected Goals_average', 'GW8 Projected Goals_average', 'GW9 Projected Goals_average', 'GW10 Projected Goals_average', 'GW11 Projected Goals_average']

In [ ]:
gw7to11plusaverages['GW 7 difference']=gw7to11plusaverages['GW7 Projected Goals']-gw7to11plusaverages['GW7 Projected Goals_average']
gw7to11plusaverages['GW 8 difference'] = gw7to11plusaverages['GW8 Projected Goals'] - gw7to11plusaverages['GW8 Projected Goals_average']
gw7to11plusaverages['GW 9 difference'] = gw7to11plusaverages['GW9 Projected Goals'] - gw7to11plusaverages['GW9 Projected Goals_average']
gw7to11plusaverages['GW 10 difference'] = gw7to11plusaverages['GW10 Projected Goals'] - gw7to11plusaverages['GW10 Projected Goals_average']
gw7to11plusaverages['GW 11 difference'] = gw7to11plusaverages['GW11 Projected Goals'] - gw7to11plusaverages['GW11 Projected Goals_average']
gw7to11adjustments = gw7to11plusaverages[['Team', 'GW 7 difference', 'GW 8 difference','GW 9 difference','GW 10 difference','GW 11 difference']]
gw7to11adjustments

               Team  GW 7 difference  ...  GW 10 difference  GW 11 difference
0       Aston Villa         2.178968  ...          0.150323          2.217663
1           Burnley        -0.494126  ...         -0.250040         -0.879436
2            Wolves         0.535928  ...         -0.435881         -0.494530
3     Newcastle Utd        -0.847584  ...         -0.520198         -0.938485
4     Sheffield Utd        -0.575583  ...         -0.484062         -0.182307
5         Tottenham        -0.021376  ...          0.395244         -0.313925
6            Fulham        -0.009856  ...         -0.737014         -0.336220
7    Manchester Utd        -0.582779  ...         -0.132700         -0.709542
8         Leeds Utd         0.200124  ...         -0.480621         -0.358590
9         Liverpool         0.492273  ...          0.796180          0.793443
10      Southampton        -0.849829  ...         -0.084863          0.104293
11          Chelsea        -0.091320  ...          0.133889          0.412066
12   Crystal Palace        -0.784276  ...         -0.366938         -0.329337
13          Everton         0.327168  ...          1.459355          0.401640
14  Manchester City         0.344376  ...          0.030270         -0.159281
15         Brighton        -0.483777  ...         -0.021540          0.345864
16        West Brom        -0.220032  ...         -0.056080         -0.247069
17          Arsenal         0.760799  ...          0.557002         -0.087180
18   Leicester City         0.795214  ...          0.470260          1.000807
19     West Ham Utd        -0.674312  ...         -0.422586         -0.239874

[20 rows x 6 columns]