<a href="https://colab.research.google.com/github/huricane85/FPL-FB-Ref-tester/blob/main/FB_Tables_%2B_API_Fixtures_%2B_Player_data_28_10_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import scipy
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!git clone https://github.com/huricane85/FPL-FB-Ref-tester

Cloning into 'FPL-FB-Ref-tester'...
remote: Enumerating objects: 47, done.
remote: Counting objects: 100% (47/47), done.
remote: Compressing objects: 100% (47/47), done.
remote: Total 47 (delta 19), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (47/47), done.

In [ ]:
home_table = pd.read_csv('/content/FPL-FB-Ref-tester/PL Home GW6.csv', encoding = "ISO-8859-1", engine='python')
away_table = pd.read_csv('/content/FPL-FB-Ref-tester/PL Away GW6.csv', encoding = "ISO-8859-1", engine='python')

In [ ]:
home_table.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
home_table = home_table.replace('Wolverhampton Wanderers','Wolverhampton')
home_table = home_table.replace('Leeds United', 'Leeds Utd')
home_table = home_table.replace('West Ham', 'West Ham Utd')
home_table

               team  MP  W  D  L  GF  ...  Pts  Pts/G   xG  xGA  xGDiff  xGDiff/90
0           Everton   3  2  1  0  11  ...    7   2.33  6.4  3.7     2.7       0.89
1         Liverpool   3  3  0  0   9  ...    9   3.00  8.8  3.2     5.6       1.85
2       Aston Villa   3  2  0  1   8  ...    6   2.00  6.1  6.0     0.2       0.05
3    Leicester City   3  1  0  2   4  ...    3   1.00  2.3  4.2    -1.8      -0.61
4         Tottenham   3  0  2  1   4  ...    2   0.67  4.4  4.5    -0.1      -0.02
5         Leeds Utd   3  1  1  1   5  ...    4   1.33  4.9  3.8     1.1       0.37
6       Southampton   3  2  0  1   6  ...    6   2.00  3.5  3.0     0.5       0.15
7    Crystal Palace   3  1  1  1   3  ...    4   1.33  1.8  4.0    -2.1      -0.71
8            Wolves   3  1  1  1   3  ...    4   1.33  2.9  2.9     0.0       0.01
9           Chelsea   3  1  1  1   7  ...    4   1.33  5.6  4.9     0.7       0.23
10          Arsenal   3  2  0  1   4  ...    6   2.00  2.7  3.3    -0.6      -0.20
11     West Ham Utd   3  1  1  1   5  ...    4   1.33  3.2  3.1     0.2       0.05
12  Manchester City   2  1  0  1   3  ...    3   1.50  2.4  3.5    -1.1      -0.54
13    Newcastle Utd   3  1  0  2   4  ...    3   1.00  3.1  4.9    -1.8      -0.61
14   Manchester Utd   3  0  1  2   2  ...    1   0.33  2.8  5.6    -2.8      -0.93
15         Brighton   3  0  1  2   4  ...    1   0.33  4.5  2.8     1.7       0.57
16        West Brom   3  0  2  1   3  ...    2   0.67  2.4  5.5    -3.1      -1.03
17          Burnley   2  0  0  2   0  ...    0   0.00  1.1  1.3    -0.2      -0.09
18    Sheffield Utd   3  0  1  2   1  ...    1   0.33  3.7  4.6    -0.9      -0.30
19           Fulham   3  0  0  3   1  ...    0   0.00  2.0  6.0    -4.0      -1.33

[20 rows x 14 columns]

In [ ]:
away_table.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
away_table = away_table.replace('Wolverhampton Wanderers','Wolverhampton')
away_table = away_table.replace('Leeds United', 'Leeds Utd')
away_table = away_table.replace('West Ham', 'West Ham Utd')
away_table

               team  MP  W  D  L  GF  ...  Pts  Pts/G   xG  xGA  xGDiff  xGDiff/90
0           Everton   3  2  0  1   3  ...    6   2.00  3.8  2.1     1.7       0.57
1         Liverpool   3  1  1  1   6  ...    4   1.33  6.6  6.2     0.3       0.11
2       Aston Villa   2  2  0  0   4  ...    6   3.00  2.3  1.3     1.0       0.51
3    Leicester City   3  3  0  0   9  ...    9   3.00  5.9  2.3     3.6       1.21
4         Tottenham   3  3  0  0  12  ...    9   3.00  7.0  3.0     3.9       1.31
5         Leeds Utd   3  2  0  1   7  ...    6   2.00  5.5  6.1    -0.6      -0.21
6       Southampton   3  1  1  1   4  ...    4   1.33  3.6  3.2     0.5       0.15
7    Crystal Palace   3  2  0  1   5  ...    6   2.00  4.3  4.8    -0.5      -0.16
8            Wolves   3  2  0  1   3  ...    6   2.00  2.2  3.8    -1.6      -0.53
9           Chelsea   3  1  2  0   6  ...    5   1.67  3.5  3.1     0.4       0.13
10          Arsenal   3  1  0  2   4  ...    3   1.00  3.9  4.6    -0.7      -0.25
11     West Ham Utd   3  1  1  1   7  ...    4   1.33  5.6  3.0     2.6       0.87
12  Manchester City   3  1  2  0   5  ...    5   1.67  4.5  3.2     1.3       0.44
13    Newcastle Utd   3  1  2  0   4  ...    5   1.67  2.7  4.1    -1.5      -0.49
14   Manchester Utd   2  2  0  0   7  ...    6   3.00  3.8  2.9     0.8       0.42
15         Brighton   3  1  1  1   6  ...    4   1.33  4.0  3.1     0.9       0.30
16        West Brom   3  0  1  2   3  ...    1   0.33  1.0  5.3    -4.2      -1.41
17          Burnley   3  0  1  2   3  ...    1   0.33  3.6  4.3    -0.8      -0.26
18    Sheffield Utd   3  0  0  3   2  ...    0   0.00  2.5  3.8    -1.4      -0.45
19           Fulham   3  0  1  2   4  ...    1   0.33  4.4  4.3     0.1       0.02

[20 rows x 14 columns]

In [ ]:
home_table1920 = pd.read_csv('/content/FPL-FB-Ref-tester/PL Home 19-20adjusted.csv', encoding = "ISO-8859-1", engine='python')
away_table1920 = pd.read_csv('/content/FPL-FB-Ref-tester/PL Away 19-20adjusted.csv', encoding = "ISO-8859-1", engine='python')

In [ ]:
home_table1920.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
home_table1920 = home_table1920.replace('Wolverhampton Wanderers','Wolverhampton')
home_table1920 = home_table1920.replace('Leeds United', 'Leeds Utd')
home_table1920 = home_table1920.replace('West Ham', 'West Ham Utd')
home_table1920

               team  MP   W  D   L  ...  Pts/G    xG   xGA  xGDiff  xGDiff/90
0         Liverpool  19  18  1   0  ...   2.89  40.3  18.4    21.9       1.15
1   Manchester City  19  15  2   2  ...   2.47  47.5  15.2    32.3       1.70
2    Manchester Utd  19  10  7   2  ...   1.95  31.0  16.4    14.6       0.77
3           Chelsea  19  11  3   5  ...   1.89  37.4  10.7    26.7       1.40
4    Leicester City  19  11  4   4  ...   1.95  30.6  21.8     8.7       0.46
5         Tottenham  19  12  3   4  ...   2.05  24.4  23.3     1.1       0.06
6            Wolves  19   8  7   4  ...   1.63  25.9  16.5     9.3       0.49
7           Arsenal  19  10  6   3  ...   1.89  27.2  30.7    -3.5      -0.19
8     Sheffield Utd  19  10  3   6  ...   1.74  26.2  19.7     6.5       0.34
9           Burnley  19   8  4   7  ...   1.47  27.2  21.2     6.0       0.32
10      Southampton  19   6  3  10  ...   1.11  23.2  28.1    -5.0      -0.26
11          Everton  19   8  7   4  ...   1.63  27.4  23.4     4.0       0.21
12    Newcastle Utd  19   6  8   5  ...   1.37  18.1  28.0    -9.9      -0.52
13   Crystal Palace  19   6  5   8  ...   1.21  17.6  19.7    -2.1      -0.11
14         Brighton  19   5  7   7  ...   1.16  20.9  26.0    -5.1      -0.27
15     West Ham Utd  19   6  4   9  ...   1.16  23.7  29.1    -5.5      -0.29
16      Aston Villa  19   7  3   9  ...   1.26  21.6  31.3    -9.8      -0.52
17        Leeds Utd  19   5  6   8  ...   1.11  22.2  25.2    -2.9      -0.15
18           Fulham  19   6  6   7  ...   1.26  26.7  27.5    -0.8      -0.04
19       West Brom   19   4  3  12  ...   0.79  20.4  31.7   -11.3      -0.60

[20 rows x 14 columns]

In [ ]:
homebothyears = home_table.merge(home_table1920, on="team", left_index=True, right_index=True)
homebothyears['MP']=homebothyears['MP_x']+homebothyears['MP_y']
homebothyears['GF']=homebothyears['GF_x']+homebothyears['GF_y']
homebothyears['GA']=homebothyears['GA_x']+homebothyears['GA_y']
homebothyears['H Avg GS'] = homebothyears ['GF'] / homebothyears ['MP']
homebothyears ['H Avg GA'] = homebothyears ['GA'] / homebothyears ['MP']
homebothyears ['Home LA GS'] = homebothyears['H Avg GS'].mean()
homebothyears ['Home LA GA'] = homebothyears['H Avg GA'].mean()
homebothyears ['H AS'] = homebothyears['H Avg GS']/homebothyears ['Home LA GS']
homebothyears ['H DS'] = homebothyears['H Avg GA']/homebothyears ['Home LA GA']
home_table_reduced = homebothyears[['team', 'H AS', 'H DS','Home LA GS']]
home_table_reduced

               team      H AS      H DS  Home LA GS
0           Everton  1.885824  0.797652    1.518506
1         Liverpool  1.975625  0.652624    1.518506
2       Aston Villa  1.436818  0.797652    1.518506
3    Leicester City  1.017746  0.797652    1.518506
4         Tottenham  1.167415  0.797652    1.518506
5         Leeds Utd  1.227282  0.797652    1.518506
6       Southampton  0.987813  0.870166    1.518506
7    Crystal Palace  1.167415  0.978936    1.518506
8            Wolves  0.808210  0.688881    1.518506
9           Chelsea  0.927945  1.015193    1.518506
10          Arsenal  0.748343  1.377762    1.518506
11     West Ham Utd  0.868078  0.870166    1.518506
12  Manchester City  0.721260  0.987569    1.518506
13    Newcastle Utd  0.568741  1.015193    1.518506
14   Manchester Utd  0.658542  1.305249    1.518506
15         Brighton  1.017746  1.450276    1.518506
16        West Brom  0.748343  1.305249    1.518506
17          Burnley  0.689901  1.101519    1.518506
18    Sheffield Utd  0.688476  1.123964    1.518506
19           Fulham  0.688476  1.268992    1.518506

In [ ]:
away_table1920.rename(columns={'ï»¿Squad': 'team'}, inplace=True)
away_table1920 = away_table1920.replace('Wolverhampton Wanderers','Wolverhampton')
away_table1920 = away_table1920.replace('Leeds United', 'Leeds Utd')
away_table1920 = away_table1920.replace('West Ham', 'West Ham Utd')
away_table1920

               team  MP   W  D   L  ...  Pts/G    xG   xGA  xGDiff  xGDiff/90
0         Liverpool  19  14  2   3  ...   2.32  31.2  21.6     9.5       0.50
1   Manchester City  19  11  1   7  ...   1.79  45.5  19.5    26.0       1.37
2    Manchester Utd  19   8  5   6  ...   1.53  28.4  21.1     7.4       0.39
3           Chelsea  19   9  3   7  ...   1.58  29.2  27.2     2.0       0.10
4    Leicester City  19   7  4   8  ...   1.32  31.0  22.7     8.3       0.44
5         Tottenham  19   4  8   7  ...   1.05  21.6  28.7    -7.1      -0.37
6            Wolves  19   7  7   5  ...   1.47  21.2  18.3     2.9       0.15
7           Arsenal  19   4  8   7  ...   1.05  22.0  25.8    -3.8      -0.20
8     Sheffield Utd  19   4  9   6  ...   1.11  15.3  28.2   -12.9      -0.68
9           Burnley  19   7  5   7  ...   1.37  16.6  27.1   -10.4      -0.55
10      Southampton  19   9  4   6  ...   1.63  30.8  24.9     5.9       0.31
11          Everton  19   5  3  11  ...   0.95  21.8  24.9    -3.1      -0.16
12    Newcastle Utd  19   5  3  11  ...   0.95  15.0  30.3   -15.3      -0.81
13   Crystal Palace  19   5  5   9  ...   1.05  16.4  31.6   -15.2      -0.80
14         Brighton  19   4  7   8  ...   1.00  20.3  28.5    -8.2      -0.43
15     West Ham Utd  19   4  5  10  ...   0.89  22.5  31.9    -9.4      -0.49
16      Aston Villa  19   2  5  12  ...   0.58  18.5  34.5   -16.0      -0.84
17        Leeds Utd  19   4  1  14  ...   0.68  20.4  32.3   -11.9      -0.63
18           Fulham  19   2  4  13  ...   0.53  18.5  29.9   -11.4      -0.60
19        West Brom  19   1  3  15  ...   0.32  17.7  30.2   -12.6      -0.66

[20 rows x 14 columns]

In [ ]:
awaybothyears = away_table.merge(away_table1920, on="team", left_index=True, right_index=True)
awaybothyears['MP']=awaybothyears['MP_x']+awaybothyears['MP_y']
awaybothyears['GF']=awaybothyears['GF_x']+awaybothyears['GF_y']
awaybothyears['GA']=awaybothyears['GA_x']+awaybothyears['GA_y']
awaybothyears['A Avg GS'] = awaybothyears ['GF'] / awaybothyears ['MP']
awaybothyears ['A Avg GA'] = awaybothyears ['GA'] / awaybothyears ['MP']
awaybothyears ['Away LA GS'] = awaybothyears['A Avg GS'].mean()
awaybothyears ['Away LA GA'] = awaybothyears['A Avg GA'].mean()
awaybothyears ['A AS'] = awaybothyears['A Avg GS']/awaybothyears ['Away LA GS']
awaybothyears ['A DS'] = awaybothyears['A Avg GA']/awaybothyears ['Away LA GA']
away_table_reduced = awaybothyears[['team', 'A AS', 'A DS','Away LA GS']]
away_table_reduced

               team      A AS      A DS  Away LA GS
0           Everton  1.275089  0.611309    1.283333
1         Liverpool  1.806375  0.947529    1.283333
2       Aston Villa  1.113173  0.608398    1.283333
3    Leicester City  1.700118  1.222618    1.283333
4         Tottenham  1.558442  0.825267    1.283333
5         Leeds Utd  1.133412  1.039226    1.283333
6       Southampton  0.991736  0.764137    1.283333
7    Crystal Palace  0.885478  0.916964    1.283333
8            Wolves  0.637544  0.855833    1.283333
9           Chelsea  0.885478  0.947529    1.283333
10          Arsenal  1.204250  0.886398    1.283333
11     West Ham Utd  0.956316  1.222618    1.283333
12  Manchester City  0.814640  1.222618    1.283333
13    Newcastle Utd  0.708383  0.978095    1.283333
14   Manchester Utd  0.964750  0.960629    1.283333
15         Brighton  0.885478  1.039226    1.283333
16        West Brom  0.779221  1.375446    1.283333
17          Burnley  0.566706  1.222618    1.283333
18    Sheffield Utd  0.531287  1.161488    1.283333
19           Fulham  0.602125  1.192053    1.283333

In [ ]:
combined_table = pd.merge(home_table_reduced, away_table_reduced, on='team')
combined_table.sort_values('team')
combined_table

               team      H AS      H DS  ...      A AS      A DS  Away LA GS
0           Everton  1.885824  0.797652  ...  1.275089  0.611309    1.283333
1         Liverpool  1.975625  0.652624  ...  1.806375  0.947529    1.283333
2       Aston Villa  1.436818  0.797652  ...  1.113173  0.608398    1.283333
3    Leicester City  1.017746  0.797652  ...  1.700118  1.222618    1.283333
4         Tottenham  1.167415  0.797652  ...  1.558442  0.825267    1.283333
5         Leeds Utd  1.227282  0.797652  ...  1.133412  1.039226    1.283333
6       Southampton  0.987813  0.870166  ...  0.991736  0.764137    1.283333
7    Crystal Palace  1.167415  0.978936  ...  0.885478  0.916964    1.283333
8            Wolves  0.808210  0.688881  ...  0.637544  0.855833    1.283333
9           Chelsea  0.927945  1.015193  ...  0.885478  0.947529    1.283333
10          Arsenal  0.748343  1.377762  ...  1.204250  0.886398    1.283333
11     West Ham Utd  0.868078  0.870166  ...  0.956316  1.222618    1.283333
12  Manchester City  0.721260  0.987569  ...  0.814640  1.222618    1.283333
13    Newcastle Utd  0.568741  1.015193  ...  0.708383  0.978095    1.283333
14   Manchester Utd  0.658542  1.305249  ...  0.964750  0.960629    1.283333
15         Brighton  1.017746  1.450276  ...  0.885478  1.039226    1.283333
16        West Brom  0.748343  1.305249  ...  0.779221  1.375446    1.283333
17          Burnley  0.689901  1.101519  ...  0.566706  1.222618    1.283333
18    Sheffield Utd  0.688476  1.123964  ...  0.531287  1.161488    1.283333
19           Fulham  0.688476  1.268992  ...  0.602125  1.192053    1.283333

[20 rows x 7 columns]

In [ ]:
from urllib.request import urlopen
from json import loads
from csv import writer


def team_converter(team_id):
    '''Converts a team's ID to their actual name'''
    team_map = {
        1: "Arsenal",
        2: "Aston Villa",
        3: "Brighton",
        4: "Burnley",
        5: "Chelsea",
        6: "Crystal Palace",
        7: "Everton",
        8: "Fulham",
        9: "Leicester City",
        10: "Leeds Utd",
        11: "Liverpool",
        12: "Manchester City",
        13: "Manchester Utd",
        14: "Newcastle Utd",
        15: "Sheffield Utd",
        16: "Southampton",
        17: "Tottenham",
        18: "West Brom",
        19: "West Ham Utd",
        20: "Wolves",
        None: None
    }
    return team_map[team_id]


def position_converter(position):
    '''Converts a player's element_type to their actual position'''
    position_map = {
        1: "Goalkeeper",
        2: "Defender",
        3: "Midfielder",
        4: "Forward"
    }
    return position_map[position]


def main():
    all_data = loads(urlopen("https://fantasy.premierleague.com/api/fixtures/").read())
    fixtures = all_data

    important_data = [
        [
            x["event"],
            team_converter(x["team_h"]),
            team_converter(x["team_a"]),
            x["kickoff_time"],
            
        ]
        for x in fixtures
    ]

    with open("/fixtures_data.csv", "w", encoding="utf-8", newline="") as out:
        headers = ["event","team_h","team_a","kickoff_time"]
        w = writer(out)
        w.writerow(headers)
        w.writerows(important_data)

if __name__ == "__main__":
    main()

In [ ]:
fixtures = pd.read_csv('/fixtures_data.csv', encoding = "ISO-8859-1", engine='python')
fixtures.rename(columns={'event': 'GW'}, inplace=True)
fixtures.rename(columns={'team_h': 'Home Team'}, inplace=True)
fixtures.rename(columns={'team_a': 'Away Team'}, inplace=True)
fixtures = fixtures.replace('Wolverhampton','Wolves')
fixtures

       GW        Home Team       Away Team          kickoff_time
0     NaN          Burnley  Manchester Utd                   NaN
1     NaN  Manchester City     Aston Villa                   NaN
2     1.0           Fulham         Arsenal  2020-09-12T11:30:00Z
3     1.0   Crystal Palace     Southampton  2020-09-12T14:00:00Z
4     1.0        Liverpool       Leeds Utd  2020-09-12T16:30:00Z
..    ...              ...             ...                   ...
375  38.0        Liverpool  Crystal Palace  2021-05-23T15:00:00Z
376  38.0  Manchester City         Everton  2021-05-23T15:00:00Z
377  38.0    Sheffield Utd         Burnley  2021-05-23T15:00:00Z
378  38.0     West Ham Utd     Southampton  2021-05-23T15:00:00Z
379  38.0           Wolves  Manchester Utd  2021-05-23T15:00:00Z

[380 rows x 4 columns]

In [ ]:
df=fixtures.merge(combined_table,left_on='Home Team',right_on='team',how='inner')

In [ ]:
df

       GW Home Team       Away Team  ...      A AS      A DS  Away LA GS
0     NaN   Burnley  Manchester Utd  ...  0.566706  1.222618    1.283333
1     3.0   Burnley     Southampton  ...  0.566706  1.222618    1.283333
2     6.0   Burnley       Tottenham  ...  0.566706  1.222618    1.283333
3     7.0   Burnley         Chelsea  ...  0.566706  1.222618    1.283333
4     9.0   Burnley  Crystal Palace  ...  0.566706  1.222618    1.283333
..    ...       ...             ...  ...       ...       ...         ...
375  30.0    Wolves    West Ham Utd  ...  0.637544  0.855833    1.283333
376  32.0    Wolves   Sheffield Utd  ...  0.637544  0.855833    1.283333
377  33.0    Wolves         Burnley  ...  0.637544  0.855833    1.283333
378  35.0    Wolves        Brighton  ...  0.637544  0.855833    1.283333
379  38.0    Wolves  Manchester Utd  ...  0.637544  0.855833    1.283333

[380 rows x 11 columns]

In [ ]:
df2=df.merge(combined_table,left_on='Away Team',right_on='team',how='inner')

In [ ]:
df2.sort_values('GW')

       GW        Home Team       Away Team  ...    A AS_y    A DS_y  Away LA GS_y
22    1.0   Crystal Palace     Southampton  ...  0.991736  0.764137      1.283333
290   1.0     West Ham Utd   Newcastle Utd  ...  0.708383  0.978095      1.283333
272   1.0        West Brom  Leicester City  ...  1.700118  1.222618      1.283333
122   1.0    Sheffield Utd          Wolves  ...  0.637544  0.855833      1.283333
249   1.0           Fulham         Arsenal  ...  1.204250  0.886398      1.283333
..    ...              ...             ...  ...       ...       ...           ...
54   38.0   Leicester City       Tottenham  ...  1.558442  0.825267      1.283333
221  38.0          Arsenal        Brighton  ...  0.885478  1.039226      1.283333
24   38.0     West Ham Utd     Southampton  ...  0.991736  0.764137      1.283333
0     NaN          Burnley  Manchester Utd  ...  0.964750  0.960629      1.283333
172   NaN  Manchester City     Aston Villa  ...  1.113173  0.608398      1.283333

[380 rows x 18 columns]

In [ ]:
df2.rename(columns={'H AS_x': 'Home AS'}, inplace=True)
df2.rename(columns={'H DS_x': 'Home DS'}, inplace=True)
df2.rename(columns={'A AS_y': 'Away AS'}, inplace=True)
df2.rename(columns={'A DS_y': 'Away DS'}, inplace=True)
df2.rename(columns={'Home LA GS_x': 'Home LA GS'}, inplace=True)
df2.rename(columns={'Away LA GS_x': 'Away LA GS'}, inplace=True)
df2.columns

Index(['GW', 'Home Team', 'Away Team', 'kickoff_time', 'team_x', 'Home AS',
       'Home DS', 'Home LA GS', 'A AS_x', 'A DS_x', 'Away LA GS', 'team_y',
       'H AS_y', 'H DS_y', 'Home LA GS_y', 'Away AS', 'Away DS',
       'Away LA GS_y'],
      dtype='object')

In [ ]:
df3 = df2[['GW', 'Home Team', 'Away Team', 'kickoff_time', 'Home AS','Home DS','Home LA GS','Away LA GS','Away AS','Away DS']].copy()
df3

       GW        Home Team       Away Team  ... Away LA GS   Away AS   Away DS
0     NaN          Burnley  Manchester Utd  ...   1.283333  0.964750  0.960629
1    27.0  Manchester City  Manchester Utd  ...   1.283333  0.964750  0.960629
2    18.0           Fulham  Manchester Utd  ...   1.283333  0.964750  0.960629
3    29.0   Crystal Palace  Manchester Utd  ...   1.283333  0.964750  0.960629
4    19.0        Liverpool  Manchester Utd  ...   1.283333  0.964750  0.960629
..    ...              ...             ...  ...        ...       ...       ...
375   4.0    Newcastle Utd         Burnley  ...   1.283333  0.566706  1.222618
376  21.0          Chelsea         Burnley  ...   1.283333  0.566706  1.222618
377   2.0   Leicester City         Burnley  ...   1.283333  0.566706  1.222618
378  13.0      Aston Villa         Burnley  ...   1.283333  0.566706  1.222618
379  33.0           Wolves         Burnley  ...   1.283333  0.566706  1.222618

[380 rows x 10 columns]

In [ ]:
df3['Home Score'] = df3['Home AS']*df3['Away DS']*df3['Home LA GS']
df3['Away Score']=df3['Away AS']*df3['Home DS']*df3['Away LA GS']
fixturesandscores = df3[['GW', 'Home Team','Home Score','Away Score','Away Team']].copy()
fixturesandscores.sort_values('GW')

       GW        Home Team  Home Score  Away Score       Away Team
22    1.0   Crystal Palace    1.354606    1.245919     Southampton
290   1.0     West Ham Utd    1.289307    0.791060   Newcastle Utd
272   1.0        West Brom    1.389339    2.847815  Leicester City
122   1.0    Sheffield Utd    0.894734    0.919607          Wolves
249   1.0           Fulham    0.926689    1.961169         Arsenal
..    ...              ...         ...         ...             ...
54   38.0   Leicester City    1.275413    1.595304       Tottenham
221  38.0          Arsenal    1.180938    1.565639        Brighton
24   38.0     West Ham Utd    1.007271    1.107484     Southampton
0     NaN          Burnley    1.006373    1.363786  Manchester Utd
172   NaN  Manchester City    0.666341    1.410813     Aston Villa

[380 rows x 5 columns]

In [ ]:
gw7 = fixturesandscores[fixturesandscores['GW'] == 7.0]
gw7homescores = gw7[['GW', 'Home Team','Home Score']].copy()
gw7homescores.rename(columns={'Home Score': 'GW7 Projected Goals'}, inplace=True)
gw7homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw7awayscores = gw7[['GW', 'Away Team', 'Away Score']].copy()
gw7awayscores.rename(columns={'Away Score': 'GW7 Projected Goals'}, inplace=True)
gw7awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw7projectedscores = gw7homescores.append(gw7awayscores)
gw7projectedscores=gw7projectedscores.drop(columns=['GW'])
gw7projectedscores

                Team  GW7 Projected Goals
36       Aston Villa             1.667207
57           Burnley             0.992650
94            Wolves             1.125365
109    Newcastle Utd             0.527949
197    Sheffield Utd             1.278192
216        Tottenham             1.842264
230           Fulham             1.437966
259   Manchester Utd             0.886398
277        Leeds Utd             2.278516
308        Liverpool             3.667855
36       Southampton             1.015193
57           Chelsea             1.251727
94    Crystal Palace             0.782820
109          Everton             1.661226
197  Manchester City             1.175053
216         Brighton             0.906423
230        West Brom             1.268992
259          Arsenal             2.017202
277   Leicester City             1.740331
308     West Ham Utd             0.800948

In [ ]:
gw8 = fixturesandscores[fixturesandscores['GW'] == 8.0]
gw8homescores = gw8[['GW', 'Home Team','Home Score']].copy()
gw8homescores.rename(columns={'Home Score': 'GW8 Projected Goals'}, inplace=True)
gw8homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw8awayscores = gw8[['GW', 'Away Team', 'Away Score']].copy()
gw8awayscores.rename(columns={'Away Score': 'GW8 Projected Goals'}, inplace=True)
gw8awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw8projectedscores = gw8homescores.append(gw8awayscores)
gw8projectedscores=gw8projectedscores.drop(columns=['GW'])
gw8projectedscores

                Team  GW8 Projected Goals
10           Everton             2.750891
44         West Brom             0.937804
131   Leicester City             1.322651
148          Chelsea             1.636642
156     West Ham Utd             1.571343
184          Arsenal             0.691362
299      Southampton             1.467142
326   Crystal Palace             1.842264
343  Manchester City             1.037770
369         Brighton             1.889501
10    Manchester Utd             0.987569
44         Tottenham             2.610497
131           Wolves             0.652624
148    Sheffield Utd             0.692177
156           Fulham             0.672401
184      Aston Villa             1.968232
299    Newcastle Utd             0.791060
326        Leeds Utd             1.423908
343        Liverpool             2.289365
369          Burnley             1.054746

In [ ]:
gw9 = fixturesandscores[fixturesandscores['GW'] == 9.0]
gw9homescores = gw9[['GW', 'Home Team','Home Score']].copy()
gw9homescores.rename(columns={'Home Score': 'GW9 Projected Goals'}, inplace=True)
gw9homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw9awayscores = gw9[['GW', 'Away Team', 'Away Score']].copy()
gw9awayscores.rename(columns={'Away Score': 'GW9 Projected Goals'}, inplace=True)
gw9awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw9projectedscores = gw9homescores.append(gw9awayscores)
gw9projectedscores=gw9projectedscores.drop(columns=['GW'])
gw9projectedscores

                Team  GW9 Projected Goals
37            Wolves             0.937804
72     Newcastle Utd             0.818321
76           Burnley             0.960629
97            Fulham             0.639096
196        Tottenham             2.167369
226      Aston Villa             2.267401
239   Manchester Utd             1.375446
258        Leeds Utd             1.651924
270        Liverpool             3.667855
311    Sheffield Utd             1.278192
37       Southampton             0.876758
72           Chelsea             1.153629
76    Crystal Palace             1.251727
97           Everton             2.076532
196  Manchester City             0.833909
226         Brighton             0.906423
239        West Brom             1.305249
258          Arsenal             1.232735
270   Leicester City             1.423908
311     West Ham Utd             1.379410

In [ ]:
gw10 = fixturesandscores[fixturesandscores['GW'] == 10.0]
gw10homescores = gw10[['GW', 'Home Team','Home Score']].copy()
gw10homescores.rename(columns={'Home Score': 'GW10 Projected Goals'}, inplace=True)
gw10homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw10awayscores = gw10[['GW', 'Away Team', 'Away Score']].copy()
gw10awayscores.rename(columns={'Away Score': 'GW10 Projected Goals'}, inplace=True)
gw10awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw10projectedscores = gw10homescores.append(gw10awayscores)
gw10projectedscores=gw10projectedscores.drop(columns=['GW'])
gw10projectedscores

                Team  GW10 Projected Goals
13       Southampton              1.440943
53           Chelsea              1.162877
127          Arsenal              0.972537
139        West Brom              1.319872
168   Leicester City              1.842264
176     West Ham Utd              0.801979
288   Crystal Palace              1.733895
333          Everton              2.975964
350         Brighton              1.464363
361  Manchester City              1.339058
13    Manchester Utd              1.077348
53         Tottenham              2.030387
127           Wolves              1.127260
139    Sheffield Utd              0.889942
168           Fulham              0.616367
176      Aston Villa              1.243094
288    Newcastle Utd              0.889942
333        Leeds Utd              1.160221
350        Liverpool              3.362004
361          Burnley              0.718232

In [ ]:
gw11 = fixturesandscores[fixturesandscores['GW'] == 11.0]
gw11homescores = gw11[['GW', 'Home Team','Home Score']].copy()
gw11homescores.rename(columns={'Home Score': 'GW11 Projected Goals'}, inplace=True)
gw11homescores.rename(columns={'Home Team': 'Team'}, inplace=True)
gw11awayscores = gw11[['GW', 'Away Team', 'Away Score']].copy()
gw11awayscores.rename(columns={'Away Score': 'GW11 Projected Goals'}, inplace=True)
gw11awayscores.rename(columns={'Away Team': 'Team'}, inplace=True)
gw11projectedscores = gw11homescores.append(gw11awayscores)
gw11projectedscores=gw11projectedscores.drop(columns=['GW'])
gw11projectedscores

                Team  GW11 Projected Goals
5       West Ham Utd              1.266283
28          Brighton              1.180938
81         West Brom              1.042004
95           Burnley              0.640419
118        Liverpool              2.567499
153  Manchester City              1.305582
254        Tottenham              1.571343
274    Sheffield Utd              1.278192
302      Aston Villa              2.134025
338          Chelsea              1.464363
5     Manchester Utd              1.077348
28       Southampton              1.845806
81    Crystal Palace              1.483237
95           Everton              1.802486
118           Wolves              0.533965
153           Fulham              0.763122
254          Arsenal              1.232735
274   Leicester City              2.452285
302    Newcastle Utd              0.725138
338        Leeds Utd              1.476645

In [ ]:
gw7and8 = pd.merge(gw7projectedscores, gw8projectedscores, on='Team')
gw9and10 = pd.merge(gw9projectedscores, gw10projectedscores, on='Team')
gw7to10 = pd.merge(gw7and8, gw9and10, on='Team')
gw7to11 = pd.merge(gw7to10, gw11projectedscores, on='Team')
gw7to11

               Team  ...  GW11 Projected Goals
0       Aston Villa  ...              2.134025
1           Burnley  ...              0.640419
2            Wolves  ...              0.533965
3     Newcastle Utd  ...              0.725138
4     Sheffield Utd  ...              1.278192
5         Tottenham  ...              1.571343
6            Fulham  ...              0.763122
7    Manchester Utd  ...              1.077348
8         Leeds Utd  ...              1.476645
9         Liverpool  ...              2.567499
10      Southampton  ...              1.845806
11          Chelsea  ...              1.464363
12   Crystal Palace  ...              1.483237
13          Everton  ...              1.802486
14  Manchester City  ...              1.305582
15         Brighton  ...              1.180938
16        West Brom  ...              1.042004
17          Arsenal  ...              1.232735
18   Leicester City  ...              2.452285
19     West Ham Utd  ...              1.266283

[20 rows x 6 columns]

In [ ]:
print(list(gw7to11))

['Team', 'GW7 Projected Goals', 'GW8 Projected Goals', 'GW9 Projected Goals', 'GW10 Projected Goals', 'GW11 Projected Goals']

In [ ]:
cols = ['GW7 Projected Goals', 'GW8 Projected Goals', 'GW9 Projected Goals', 'GW10 Projected Goals', 'GW11 Projected Goals']
for col in cols:
    gw7to11['%s_average' % col] = gw7to11[col].mean()

gw7to11plusaverages = gw7to11
gw7to11plusaverages

               Team  ...  GW11 Projected Goals_average
0       Aston Villa  ...                      1.392171
1           Burnley  ...                      1.392171
2            Wolves  ...                      1.392171
3     Newcastle Utd  ...                      1.392171
4     Sheffield Utd  ...                      1.392171
5         Tottenham  ...                      1.392171
6            Fulham  ...                      1.392171
7    Manchester Utd  ...                      1.392171
8         Leeds Utd  ...                      1.392171
9         Liverpool  ...                      1.392171
10      Southampton  ...                      1.392171
11          Chelsea  ...                      1.392171
12   Crystal Palace  ...                      1.392171
13          Everton  ...                      1.392171
14  Manchester City  ...                      1.392171
15         Brighton  ...                      1.392171
16        West Brom  ...                      1.392171
17          Arsenal  ...                      1.392171
18   Leicester City  ...                      1.392171
19     West Ham Utd  ...                      1.392171

[20 rows x 11 columns]

In [ ]:
print(list(gw7to11plusaverages))

['Team', 'GW7 Projected Goals', 'GW8 Projected Goals', 'GW9 Projected Goals', 'GW10 Projected Goals', 'GW11 Projected Goals', 'GW7 Projected Goals_average', 'GW8 Projected Goals_average', 'GW9 Projected Goals_average', 'GW10 Projected Goals_average', 'GW11 Projected Goals_average']

In [ ]:
gw7to11plusaverages['GW 7 difference']=gw7to11plusaverages['GW7 Projected Goals']/gw7to11plusaverages['GW7 Projected Goals_average']
gw7to11plusaverages['GW 8 difference'] = gw7to11plusaverages['GW8 Projected Goals'] / gw7to11plusaverages['GW8 Projected Goals_average']
gw7to11plusaverages['GW 9 difference'] = gw7to11plusaverages['GW9 Projected Goals'] / gw7to11plusaverages['GW9 Projected Goals_average']
gw7to11plusaverages['GW 10 difference'] = gw7to11plusaverages['GW10 Projected Goals'] / gw7to11plusaverages['GW10 Projected Goals_average']
gw7to11plusaverages['GW 11 difference'] = gw7to11plusaverages['GW11 Projected Goals'] / gw7to11plusaverages['GW11 Projected Goals_average']
gw7to11adjustments = gw7to11plusaverages[['Team', 'GW 7 difference', 'GW 8 difference','GW 9 difference','GW 10 difference','GW 11 difference']]
gw7to11adjustments

               Team  GW 7 difference  ...  GW 10 difference  GW 11 difference
0       Aston Villa         1.177228  ...          0.882611          1.532876
1           Burnley         0.700918  ...          0.509953          0.460015
2            Wolves         0.794629  ...          0.800368          0.383549
3     Newcastle Utd         0.372789  ...          0.631869          0.520869
4     Sheffield Utd         0.902542  ...          0.631869          0.918129
5         Tottenham         1.300837  ...          1.441598          1.128700
6            Fulham         1.015359  ...          0.437628          0.548152
7    Manchester Utd         0.625893  ...          0.764930          0.773862
8         Leeds Utd         1.608879  ...          0.823770          1.060678
9         Liverpool         2.589902  ...          2.387062          1.844241
10      Southampton         0.716836  ...          1.023086          1.325847
11          Chelsea         0.883854  ...          0.825656          1.051856
12   Crystal Palace         0.552755  ...          1.231086          1.065413
13          Everton         1.173005  ...          2.112969          1.294731
14  Manchester City         0.829715  ...          0.950747          0.937803
15         Brighton         0.640032  ...          1.039715          0.848271
16        West Brom         0.896045  ...          0.937125          0.748475
17          Arsenal         1.424363  ...          0.690513          0.885477
18   Leicester City         1.228862  ...          1.308029          1.761483
19     West Ham Utd         0.565556  ...          0.569415          0.909575

[20 rows x 6 columns]

In [ ]:
from urllib.request import urlopen
from json import loads
from csv import writer


def team_converter(team_id):
    '''Converts a team's ID to their actual name'''
    team_map = {
        1: "Arsenal",
        2: "Aston Villa",
        3: "Brighton",
        4: "Burnley",
        5: "Chelsea",
        6: "Crystal Palace",
        7: "Everton",
        8: "Fulham",
        9: "Leicester City",
        10: "Leeds Utd",
        11: "Liverpool",
        12: "Manchester City",
        13: "Manchester Utd",
        14: "Newcastle utd",
        15: "Sheffield Utd",
        16: "Southampton",
        17: "Tottenham",
        18: "West Brom",
        19: "West Ham Utd",
        20: "Wolverhampton",
        None: None
    }
    return team_map[team_id]


def position_converter(position):
    '''Converts a player's element_type to their actual position'''
    position_map = {
        1: "Goalkeeper",
        2: "Defender",
        3: "Midfielder",
        4: "Forward"
    }
    return position_map[position]


def main():
    all_data = loads(urlopen("https://fantasy.premierleague.com/api/bootstrap-static/").read())
    players = all_data["elements"]

    important_data = [
        [
            x["id"],
            team_converter(x["team"]),
            position_converter(x["element_type"])[0],
            x["web_name"],
            x["now_cost"] / 10,
            x["selected_by_percent"],
            x["goals_scored"],
            x["assists"],
            x["bps"],
            x["ict_index"],
            x["total_points"],  
            x["points_per_game"]
        ]
        for x in players
    ]

    with open("players_data.csv", "w", encoding="utf-8", newline="") as out:
        headers = ["id","team", "pos", "name", "cost", "selected_by_percent", "goals_scored", "assists", "bps", "ict_index","points", "points_per_game"]
        w = writer(out)
        w.writerow(headers)
        w.writerows(important_data)

if __name__ == "__main__":
    main()

In [ ]:
import pandas as pd
import scipy
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

In [ ]:
import pandas as pd
playerdata = pd.read_csv("/content/players_data.csv")
playerdata

      id           team pos  ... ict_index  points  points_per_game
0      1        Arsenal   M  ...       0.0       0              0.0
1      2        Arsenal   D  ...       0.0       0              0.0
2      3        Arsenal   D  ...       9.7       7              1.4
3      4        Arsenal   M  ...      31.4      20              3.3
4      5        Arsenal   D  ...       0.0       0              0.0
..   ...            ...  ..  ...       ...     ...              ...
585  545  Wolverhampton   D  ...       3.1       2              1.0
586  546  Wolverhampton   D  ...      12.4      15              3.8
587  553  Wolverhampton   M  ...       0.0       0              0.0
588  563  Wolverhampton   D  ...       0.0       0              0.0
589  581  Wolverhampton   M  ...       0.0       0              0.0

[590 rows x 12 columns]

In [ ]:

playerdata.rename(columns={'team': 'Team'}, inplace=True)

In [ ]:
playersteamadjusted = pd.merge(playerdata,
                 gw7to11adjustments[['Team','GW 7 difference','GW 8 difference','GW 9 difference','GW 10 difference','GW 11 difference']],
                    on='Team')
playersteamadjusted

      id          Team pos  ... GW 9 difference  GW 10 difference  GW 11 difference
0      1       Arsenal   M  ...        0.874146          0.690513          0.885477
1      2       Arsenal   D  ...        0.874146          0.690513          0.885477
2      3       Arsenal   D  ...        0.874146          0.690513          0.885477
3      4       Arsenal   M  ...        0.874146          0.690513          0.885477
4      5       Arsenal   D  ...        0.874146          0.690513          0.885477
..   ...           ...  ..  ...             ...               ...               ...
524  451  West Ham Utd   D  ...        0.978156          0.569415          0.909575
525  452  West Ham Utd   D  ...        0.978156          0.569415          0.909575
526  558  West Ham Utd   D  ...        0.978156          0.569415          0.909575
527  576  West Ham Utd   D  ...        0.978156          0.569415          0.909575
528  587  West Ham Utd   M  ...        0.978156          0.569415          0.909575

[529 rows x 17 columns]

In [ ]:
playersteamadjusted['GW7 Adjusted score'] = playersteamadjusted['points_per_game'] * playersteamadjusted['GW 7 difference']
playersteamadjusted['GW8 Adjusted score'] = playersteamadjusted['points_per_game'] * playersteamadjusted['GW 8 difference']
playersteamadjusted['GW9 Adjusted score'] = playersteamadjusted['points_per_game'] * playersteamadjusted['GW 9 difference']
playersteamadjusted['GW10 Adjusted score'] = playersteamadjusted['points_per_game'] * playersteamadjusted['GW 10 difference']
playersteamadjusted['GW11 Adjusted score'] = playersteamadjusted['points_per_game'] * playersteamadjusted['GW 11 difference']
playersteamadjusted['GW7-11 Adjusted score'] = playersteamadjusted['GW11 Adjusted score'] + playersteamadjusted['GW7 Adjusted score'] + playersteamadjusted['GW8 Adjusted score'] + playersteamadjusted['GW9 Adjusted score']+ playersteamadjusted['GW10 Adjusted score']
GWprojections = playersteamadjusted

In [ ]:
GWprojections.sort_values(by=['GW7-11 Adjusted score'], ascending=False).head(30)

      id            Team  ... GW11 Adjusted score GW7-11 Adjusted score
311  254       Liverpool  ...           15.307202             91.637176
308  251       Liverpool  ...           14.385081             86.116864
449  390       Tottenham  ...           12.980045             83.416065
447  388       Tottenham  ...           12.189955             78.338566
193  164         Everton  ...            9.451534             58.385260
39    33     Aston Villa  ...           13.029444             56.032223
201  508         Everton  ...            8.804168             54.386269
309  252       Liverpool  ...            8.852358             52.994993
43    37     Aston Villa  ...           11.956431             51.417805
248  224  Leicester City  ...           14.444161             51.193835
312  255       Liverpool  ...            8.299085             49.682806
322  468       Liverpool  ...            8.299085             49.682806
448  389       Tottenham  ...            7.336547             47.148211
278  202       Leeds Utd  ...            8.697559             46.505299
33    12     Aston Villa  ...           10.423555             44.825779
306  249       Liverpool  ...            7.376965             44.162494
143  232         Chelsea  ...            9.466706             42.628192
164  141  Crystal Palace  ...            8.523305             40.314267
47    41     Aston Villa  ...            9.197255             39.552158
52    46     Aston Villa  ...            8.890680             38.233752
44    38     Aston Villa  ...            8.890680             38.233752
264  498  Leicester City  ...           10.216602             36.210273
61   514     Aston Villa  ...            8.277529             35.596942
195  166         Everton  ...            5.696815             35.191115
185  156         Everton  ...            5.437869             33.591519
184  155         Everton  ...            5.437869             33.591519
126  105         Chelsea  ...            7.362993             33.155261
307  250       Liverpool  ...            5.532724             33.121871
421  366     Southampton  ...            9.015763             32.128008
316  259       Liverpool  ...            5.163875             30.913746

[30 rows x 23 columns]